

    <div >
        <p class="title-sb"> Mereka Yang Sudah Menggunakan  <span class="text-rantai"> Rantai </span></p>
        <p class="paragraf-sb"> Para pelanggan yang telah berhasil mengembangkan usaha online mereka dengan Rantai. </p>
    </div>

    <div class="container contain" > 
        <div class="row row-cols-4" > 
            <div class="col">
                <img class="g1"  />  
                <div class="text-center"> 
                    <p class="nama-customer ">Ini Nama Customer</p>
                    <p class="nama-toko">Ini Nama Toko</p>
                    <p class="nama-customer">Ini Nama Area</p> 
                </div>            
            </div>
            <div class="col">
                <img class="g1"  />  
                <div class="text-center"> 
                    <p class="nama-customer ">Ini Nama Customer</p>
                    <p class="nama-toko">Ini Nama Toko</p>
                    <p class="nama-customer">Ini Nama Area</p> 
                </div>            
            </div>
            <div class="col">
                <img class="g1"  />  
                <div class="text-center"> 
                    <p class="nama-customer ">Ini Nama Customer</p>
                    <p class="nama-toko">Ini Nama Toko</p>
                    <p class="nama-customer">Ini Nama Area</p> 
                </div>            
            </div>
            <div class="col">
                <img class="g1"  />  
                <div class="text-center"> 
                    <p class="nama-customer ">Ini Nama Customer</p>
                    <p class="nama-toko">Ini Nama Toko</p>
                    <p class="nama-customer">Ini Nama Area</p> 
                </div>            
            </div>
            <div class="col">
                <img class="g1"  />  
                <div class="text-center"> 
                    <p class="nama-customer ">Ini Nama Customer</p>
                    <p class="nama-toko">Ini Nama Toko</p>
                    <p class="nama-customer">Ini Nama Area</p> 
                </div>            
            </div>
            <div class="col">
                <img class="g1"  />  
                <div class="text-center"> 
                    <p class="nama-customer ">Ini Nama Customer</p>
                    <p class="nama-toko">Ini Nama Toko</p>
                    <p class="nama-customer">Ini Nama Area</p> 
                </div>            
            </div>
            <div class="col">
                <img class="g1"  />  
                <div class="text-center"> 
                    <p class="nama-customer ">Ini Nama Customer</p>
                    <p class="nama-toko">Ini Nama Toko</p>
                    <p class="nama-customer">Ini Nama Area</p> 
                </div>            
            </div>
            <div class="col">
                <img class="g1"  />  
                <div class="text-center"> 
                    <p class="nama-customer ">Ini Nama Customer</p>
                    <p class="nama-toko">Ini Nama Toko</p>
                    <p class="nama-customer">Ini Nama Area</p> 
                </div>            
            </div>
        </div>
    </div>
