@media only screen and (min-device-width: 360px) and (max-device-width:480px) and (orientation:portrait) {

  /* global */
  .title-blue {
    text-align: center !important;
    padding-bottom: 10px;
  }
  .btn-try-free {
    position: relative;
    left: 70px !important;
  }
  .btn-try-free1{
    position: relative;
    left: 80px !important;
  }
  .title-content {
    font-size: 12px !important;
  }
  .content-second {
    font-size: 9px !important;
    line-height: 15px !important;
  }
  .title-second {
    font-size: 22px !important;
    line-height: 27px !important;
    position: relative;
    left: 10px;
  }

  /* end global */

  /* section 1 */
  .app-store{
    position: relative;
    left: 102px !important;
  }
  .title {
    padding-top: 50px;
    font-size: 1.875rem !important;
    text-align: unset !important;
    width: 100% !important;
  }
  .text-content {
    font-size: 0.9375rem !important;
    text-align: unset !important;
    width: 100% !important;
  }
  .set-text-s1 {
    justify-content: center !important;  
  }
  .set-btn {
    display: flex !important;
    flex-direction: column;
  }
  .btn-s1 {
    margin-bottom: 20px !important;
  }
  .img-mydashboard1 {
    display: none !important;
  }
  .box-footer-s1 {
    width: 90% !important;
    height: 120px !important;
    margin-bottom: 20px !important;
  }
  .icon-left-s1 {
    width: 50px !important;
    height: 50px !important;
    position: relative;
    top: -12px !important;
  }
  .icon-right-s1 {
    width: 50px !important;
    height: 50px !important;
    position: relative;
    top: -12px !important;
  }
  .title-foot-s1 {
    font-size: 8px !important;
    line-height: 10px !important;
  }
  .content-foot-s1 {
    font-size: 7px !important;
    line-height: 10px !important;
  }
  .content-footer-s1 {
    position: relative;
    top: 0px !important;
  }

  /*end section 1 */

  /* section 2 */
  .title-first {
    font-size: 30px !important;
  }
  .content-first {
    font-size: 15px !important;
  }
  .img-s2 {
    position: relative;
    left: 5px;
  }
  .box-content-s2 {
    position: relative;
    left: 20px !important;
    width: 450px !important;
  }
  .sign-free {
    position: relative;
    left: 10px !important;
  }

  .sign-free-forever {
    font-size: 14px !important;
  }

  /*end section 2 */

  /* section 3 */
  .image-mobile {
    width: calc(100% - 10%) !important;
    display: block !important;
    position: relative;
    left: 15px !important;
    padding-bottom: 20px !important;
  }
  .image-media {
    display: none !important;
  }

  /*end section 3 */

  /*section 4 */
  .img-s4 {
    position: relative;
    left: 15px !important;
    padding-bottom: 60px !important;
  }
  .box-s4 {
    width: 95% !important;
  }

  /*end section 4 */

  /*section 5 */
  .collab {
    font-size: 28px !important;
    position: relative;
    left: 10px !important;
  }
  .set-box-s5 {
    padding-left: 40px !important;
    padding-bottom: 150px !important;
  }
  .box-s5 {
    width: 90% !important;
    height: 150% !important;
  }
  .img-foot-s5 {
    width: 80% !important;
    position: relative;
    top: 261px !important;
  }
  .marketplace{
    position: relative;
    left: 35px !important;
  }
  .logo-tokped{
    width: 40% !important;
  }
  .logo-shopee{
    width: 40% !important;
  }
  .logo-jdid{
    width: 40% !important;
  }
  .logo-blibli{
    width: 40% !important;
  }
  .logo-lazada{
    width: 40% !important;
  }
  .logo-bukalapak{
    width: 40% !important;
  }
  .title-s5 {
    font-size: 18px !important;
    width: 280px !important;
    position: relative;
    left: 10px !important;
    line-height:25px !important;
  }
  .content-s5 {
    font-size: 12px !important;
    width: 280px !important;
    position: relative;
    left: 10px !important;
  }
  .box-content-s5 {
    position: relative;
    bottom: 50px !important;
    width: 10% !important;
  }
  .img-foot-s5{
    position: relative;
    top: 300px !important;
  }

  /*end section 5 */

  /* section 6 */
  .title-section6 {
    font-size: 28px !important;
    text-align: left !important;
    width: 100% !important;
    text-align: center !important;
  }

  .p-S6 {
    width: 100% !important;
    text-align: center !important;
    font-size: 15px !important;
  }

  .slide-left {
    position: relative;
    right: 65px;
    bottom: 20px;
    content: url('src/assets/img/slider-left.svg')
  }

  .slide-right {
    position: relative;
    left: 65px;
    bottom: 20px;
    content: url('src/assets/img/slider-right.svg')
  }

  .img-slider {
    width: 240px !important;
  }

  .footer-s6 {
    font-size: 18px !important;
  }

  .box-media {
    width: calc(100% - 54%) !important;
    height: 70px !important;
  }

  /* end section 6 */


  /* pertengahan footer */
  .box-footer {
    width: 90% !important;
    height: 90px !important;
    border-radius: 30px !important;
    position: relative;
    top: -45px !important;
  }

  .title-foot-s8 {
    font-size: 10px !important;
  }

  .logo-google-footer {
    /* position: relative;
  left: 20px !important; */
    padding-left: 50px !important;
  }

  .app-store-footer {
    width: 60% !important;
  }

  /* end pertengahan footer */

  /* footer */
  .parallax-footer {
    height: 168vh;
  }

  .d-footer {
    display: flex;
    flex-direction: column;
  }

  .last-foot {
    display: block !important;
  }

  .last-footer {
    padding-top: 20px !important;
    text-align: center;
  }

  .button-footer {
    margin-top: 20px;
  }

  .title-content-footer {
    padding-top: 25px;
  }

  .btn-footer {
    width: 335px !important;
  }

  /* end footer  */

  .nav-language {
    position: unset;
    left: unset !important;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-width:400px) and (orientation:portrait) {
  .parallax-footer {
    height: 150vh;
  }

  .nav-language {
    position: unset;
    left: unset !important;
  }
  .img-foot-s5 {
    width: 80% !important;
    position: relative;
    top: 253px !important;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width:768px) and (orientation:portrait) {

  .b-navbar{
    font-size: 11px !important;
  }
  /*section 1 */
  .title {
    padding-top: 50px;
    font-size: 1.875rem !important;
    width: 100% !important;
  }

  .text-content {
    font-size: 0.9375rem !important;
    width: 100% !important;
  }

  .set-text-s1 {
    position: relative;
  }

  .img-mydashboard1 {
    display: none !important;
  }

  .box-footer-s1 {
    width: 90% !important;
    height: 120px !important;
    margin-bottom: 20px !important;
  }

  .icon-left-s1 {
    width: 50px !important;
    height: 50px !important;
    position: relative;
    top: -12px !important;
  }

  .icon-right-s1 {
    width: 50px !important;
    height: 50px !important;
    position: relative;
    top: -12px !important;
  }

  .title-foot-s1 {
    font-size: 14px !important;
  }

  .content-foot-s1 {
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .content-footer-s1 {
    position: relative;
    top: -10px !important;
  }

  /* end section 1 */

  /* section 4 */
  .img-s4 {
    position: relative;
    top: -155px !important;
  }

  /* end section 4 */

  /* section 5 */
  .box-s5 {
    height: 300px !important
  }
  .img-foot-s5 {
    position: relative;
    top: 61px !important;
    right: 20px !important;
  }
  .box-content-s5 {
    position: relative;
    left: 30px !important;
    bottom: 50px;
  }
  .title-s5 {
    font-size: 20px !important;
    width: 80% !important;
  }
  .content-s5 {
    /* font-size: 20px !important; */
    width: 80% !important;
  }
  .marketplace{
    position: relative;
    left: 35px !important;
  }
  .logo-tokped{
    width: 30% !important;
  }
  .logo-shopee{
    width: 30% !important;
  }
  .logo-jdid{
    width: 30% !important;
  }
  .logo-blibli{
    width: 30% !important;
  }
  .logo-lazada{
    width: 30% !important;
  }
  .logo-bukalapak{
    width: 30% !important;
  }
  /* end section 5 */

  /* section 6 */
  .title-section6 {
    width: 100% !important;
  }
  .media-s6{
    position: relative; 
    left:25px;
  }
  .p-S6 {
    width: 80% !important;
  }
  .slide-right{
    position: relative;
    bottom: 30px;
  }
  .slide-left{
    position: relative;
    bottom: 30px;
  }

  /* end section 6 */

  /* section 8 */
  .title-foot-s8 {
    font-size: 20px !important;
  }

  /* end section 8 */

  /* section footer */
  .parallax-footer {
    height: 100vh;
  }
  .btn-footer {
    width: 230px !important;
  }
  .footer-media {
    position: relative;
    left: -30px !important;
  }

  /* end section footer */
  .nav-language {
    position: unset;
    left: unset !important;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width:1024px) and (orientation:portrait) {

  /*section 1 */
  .title {
    padding-top: 50px;
    font-size: 1.875rem !important;
    width: 100% !important;
  }

  .text-content {
    font-size: 0.9375rem !important;
    width: 100% !important;
  }
  .img-mydashboard1 {
    display: none !important;
  }

  .box-footer-s1 {
    width: 90% !important;
    height: 120px !important;
    margin-bottom: 20px !important;
  }

  .icon-left-s1 {
    width: 50px !important;
    height: 50px !important;
    position: relative;
    top: -12px !important;
  }

  .icon-right-s1 {
    width: 50px !important;
    height: 50px !important;
    position: relative;
    top: -12px !important;
  }

  .title-foot-s1 {
    font-size: 14px !important;
  }

  .content-foot-s1 {
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .content-footer-s1 {
    position: relative;
    top: -10px !important;
  }

  /* end section 1 */

  /* section 4 */
  .img-s4 {
    position: relative;
    top: -155px !important;
  }

  /* end section 4 */

  /* section 5 */
  .box-s5 {
    height: 300px !important
  }
  .img-foot-s5 {
    position: relative;
    top: 61px !important;
    right: 20px !important;
  }
  .box-content-s5 {
    position: relative;
    left: 30px !important;
    bottom: 50px;
  }
  .title-s5 {
    font-size: 20px !important;
    width: 80% !important;
  }
  .content-s5 {
    /* font-size: 20px !important; */
    width: 80% !important;
  }
  .marketplace{
    position: relative;
    left: 35px !important;
  }
  .logo-tokped{
    width: 30% !important;
  }
  .logo-shopee{
    width: 30% !important;
  }
  .logo-jdid{
    width: 30% !important;
  }
  .logo-blibli{
    width: 30% !important;
  }
  .logo-lazada{
    width: 30% !important;
  }
  .logo-bukalapak{
    width: 30% !important;
  }
  /* end section 5 */

  /* section 6 */
  .title-section6 {
    width: 100% !important;
  }
  .media-s6{
    position: relative; 
    left:25px;
  }
  .p-S6 {
    width: 80% !important;
  }
  .slide-right{
    position: relative;
    bottom: 30px;
  }
  .slide-left{
    position: relative;
    bottom: 30px;
  }

  /* end section 6 */

  /* section 8 */
  .title-foot-s8 {
    font-size: 20px !important;
  }

  /* end section 8 */

  /* section footer */
  .parallax-footer {
    height: 100vh;
  }

  .btn-footer {
    width: 230px !important;
  }

  .footer-media {
    position: relative;
    left: -30px !important;
  }

  /* end section footer */
  .nav-language {
    position: unset;
    left: unset !important;
  }
  .b-navbar{
    font-size: 11px !important;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width:541px) and (orientation:portrait) {
 

  .btn-try-free1 {
    position: relative;
    left: 100px !important;
  }
  .btn-try-free {
    position: relative;
    left: 95px !important;
  }

  /* section 1 */

  .title-foot-s1 {
    font-size: 0.625rem !important;
  }
  .content-foot-s1 {
    font-size: 0.5rem !important;
    line-height: 10px !important;
  }
  .content-footer-s1 {
    position: relative;
    top: 1px !important;
  }
  .app-store{
    position: relative;
    left: 125px !important;
  }

  /* end section 1 */

  /*section 4 */
  .img-s4 {
    position: relative;
    left: 15px !important;
    top: 30px !important;
  }
  .box-s4 {
    width: 95% !important;
  }

  /*end section 4 */

  /*section 5 */
  .collab {
    font-size: 28px !important;
    position: relative;
    left: 10px !important;
  }
  .box-s5 {
    width: 90% !important;
    height: 150% !important;
  }
  .img-foot-s5 {
    width: 70% !important;
    position: relative;
    top: 296px !important;
    left: 0px !important;
  }
  .title-s5 {
    font-size: 18px !important;
    width: 280px !important;
    position: relative;
    left: 25px !important;
  }
  .content-s5 {
    font-size: 12px !important;
    width: 280px !important;
    position: relative;
    left: 25px !important;
  }
  .box-content-s5 {
    position: relative;
    bottom: 50px !important;
    width: 10% !important;
  }
  .marketplace{
    position: relative;
    left: 35px !important;
  }
  .logo-tokped{
    width: 40% !important;
  }
  .logo-shopee{
    width: 40% !important;
  }
  .logo-jdid{
    width: 40% !important;
  }
  .logo-blibli{
    width: 40% !important;
  }
  .logo-lazada{
    width: 40% !important;
  }
  .logo-bukalapak{
    width: 40% !important;
  }
  .logo-google{
    position: relative;
    left: -50px !important;
  }
  /*end section 5 */

  /* section 6 */
  .title-section6 {
    font-size: 28px !important;
    text-align: left !important;
    width: 95% !important;
    text-align: center !important;
  }
  .media-s6{
    position: relative; 
    left:0px;
  }
  .p-S6 {
    width: 90% !important;
    text-align: center !important;
    font-size: 15px !important;
  }

  /* end section 6 */

  .parallax-footer {
    height: 150vh;
  }
  .nav-language {
    position: unset;
    left: unset !important;
  }
  .title-foot-s8 {
    font-size: 0.75rem !important;
  }
  .btn {
    width: 100% !important;
  }

}

@media only screen and (min-device-width: 540px) and (max-device-width:720px) and (orientation:portrait) {}

/********************************************* Batas Media Query **************************************************/
* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
}

.btn-try-free {
  border: 1px solid #0b69fd;
  border-radius: 24px;
  width: 190px;
  background-color: #0b69fd;
  height: 42px;
  color: #fff;
  font-size: 12px;
  align-items: center;
  font-family: montserrat;
}
.btn-try-free1 {
  border: 1px solid #0b69fd;
  border-radius: 24px;
  width: 190px;
  background-color: #0b69fd;
  height: 42px;
  color: #fff;
  font-size: 12px;
  align-items: center;
  font-family: montserrat;
}
.btn-try-free:hover {
  background-color: rgb(16, 98, 230);
}

/* header */
#home-section {
  background: rgb(9, 96, 227);
  background: linear-gradient(90deg, rgba(9, 96, 227, 1) 0%, rgba(3, 52, 85, 1) 100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
.navbar-nav {
  transition: all 0.3s ease;
  position: relative;
  margin: 0 auto;
}
.navbar-nav .nav-item {
  padding-left: 30px;
}
.nav-language {
  position: relative;
  left: 300px;
}
.nav-link, a {
  color: #000;
  padding: 10px 0px;
  text-align: center;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon1 {
  background-color: rgb(221, 224, 233);
  margin-right: 10px;
  margin-top: 5px;
  height: 50px;
}
.click-lang {
  outline: none;
  cursor: pointer;
}
.lang-change {
  position: relative;
  bottom: 3px;
  align-items: center;
  justify-content: center;
}
.lang-change div {
  position: relative;
  top: 5px;
}
#lang-hide {
  display: none;
  position: absolute;
  justify-content: center;
  z-index: 100;
  padding: 10px;
  width: 150px;
  align-items: center;
  background: rgb(223, 235, 254);
  background: linear-gradient(180deg, rgba(223, 235, 254, 1) 0%, rgba(222, 244, 254, 1) 97%);
}
.menu-lang {
  cursor: pointer;
  align-items: stretch;
  display: flex;
}
.menu-lang div, span {
  margin: 3px;
  text-align: center;
}
.menu-lang:hover {
  background-color: #fff;
  color: #000;
  border-radius: 2px;
}
.en-flag {
  display: inline-block;
  content: url("src/assets/images/english-baru.png");
  width: 20px;
  height: 20px;
}
.id-flag {
  display: inline-block;
  content: url("src/assets/images/indonesia-baru.png");
  width: 20px;
  height: 20px;
}
.icon-chev {
  content: url("src/assets/images/chevron-down.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.logo-header {
  content: url('src/assets/images/logorantaibaru.svg');
  min-width: 100%;
  height: auto;
}
#menu-download {
  display: none;
  transition: all 0.5s ease;
  position: absolute;
  justify-content: center;
  z-index: 100;
  align-items: center;
  background: rgb(223, 235, 254);
  background: linear-gradient(180deg, rgba(223, 235, 254, 1) 0%, rgba(222, 244, 254, 1) 97%);
}
#menu-download .text-left {
  text-align: left;
  padding-left: 15px;
}
#menu-download .nav-link:hover {
  background: #fff;
  color: #000;
}
.b-navbar {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px #888888;
  font-family: Montserrat, Regular;
  font-size: 12px;
}
/* end header */

.title {
  font-size: 2.625rem;
  color: #0B69FD;
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
  width: 55%;
  line-height: 110%;
}
.text-content {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  color: #1A1E25;
  width: 50%;
}

/* section 1 */
.parallax-section1 {
  background-color: #DFEBFE;
  padding-top: 110px;
}
.box-page-one {
  position: relative;
  bottom: -80px;
}
.img-home1 {
  content: url('src/assets/img/Home-s1.png');
  width: 223px;
  height: 300px;
  box-shadow: 0px -12px 16px 4px rgba(0, 0, 0, 0.08);
  background-color: #F7F9FF;
  padding-top: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.img-mydashboard1 {
  content: url('src/assets/img/MyDashboard-s1.png');
  width: 743px;
  height: 300px;
  box-shadow: 0px -12px 16px 4px rgba(0, 0, 0, 0.08);
  background-color: #F7F9FF;
  padding-top: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.box-footer-top {
  width: 100%;
  height: 150px;
  background: #0B69FD;
  border-radius: 40px;
  position: relative;
  top: 50px;
}
.box-footer-s1 {
  width: 100%;
  height: 150px;
  background: #0B69FD;
  border-radius: 40px;
  position: relative;
  top: 80px;
}
.icon-left-s1 {
  content: url('src/assets/img/Icon-left-s1.png');
  width: 120px;
  height: 120px;
  filter: drop-shadow(0px 0px 32px rgba(53, 76, 113, 0.12));
}
.icon-right-s1 {
  content: url('src/assets/img/Icon-right-s1.png');
  width: 120px;
  height: 120px;
  filter: drop-shadow(0px 0px 32px rgba(53, 76, 113, 0.12));
}
.title-foot-s1 {
  height: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 32px;
  color: #FFFFFF;
  width: 100%;
}
.content-foot-s1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.content-footer-s1 {
  position: relative;
  top: 25px;
}
.sign-free-forever {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #1A1E25;
}
.foot-s1 {
  position: relative;
  top: 20px;
}

/* section 1 */

/* section 2 */
.parallax-section2 {
  padding-top: 150px;
  padding-bottom: 40px;
  height: 100%;
}
.title-blue {
  color: #0b69fd;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 0.9375rem;
}
.title-first {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 120%;
  text-align: center;
  color: #1A1E25;
}
.content-first {
  font-size: 1rem;
  color: #1A1E25;
  font-family: 'Montserrat';
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.box-content-s2 {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(53, 76, 113, 0.12);
  border-radius: 20px;
}
.box-content-s2:hover {
  box-shadow: 0px 4px 12px 8px #DAE5F8;
  transition: all 0.5s ease;
}
.title-second {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #1A1E25;
}
#logo-centang {
  content: url('src/assets/img/icon-centang.png');
  width: 20px;
  height: 20px;
}
.title-content {
  font-size: 0.9375rem;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 140%;
  color: #1A1E25;
}
.content-second {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  color: #63728C;
  position: relative;
  left: 36px;
}
.img-s2 {
  width: calc(100% - 10%);
  content: url('src/assets/img/img-s2.png');
}
/* end section 2 */

/* section 3 */
.parallax-section3 {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.image-mobile {
  display: none;
}
.image-size {
  width: 100%;
  height: auto;
}
.image-media {
  width: calc(100% - 10%);
}
/* end section 3 */


/* section 4 */
.parallax-section4 {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.img-s4 {
  width: calc(100% - 10%);
  content: url('src/assets/img/img-s4.png');
}
.img-s4 {
  width: calc(100% - 10%);
  content: url('src/assets/img/img-s4.png');
}

/* end section 4 */

/* section 5 */
.parallax-section5 {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.collab {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 120%;
  text-align: center;
  color: #1A1E25;
}
.logo-tokped {
  width: 22%;
  height: auto;
  content: url('src/assets/icon-marketplace/tokped_1.svg');
}
.logo-shopee {
  width: 22%;
  height: auto;
  content: url('src/assets/icon-marketplace/shopee_1.svg');
}
.logo-jdid {
  width: 22%;
  height: auto;
  content: url('src/assets/icon-marketplace/jdid.svg');
}
.logo-blibli {
  width: 22%;
  height: auto;
  content: url('src/assets/icon-marketplace/blibli_1.svg');
}
.logo-lazada {
  width: 22%;
  height: auto;
  content: url('src/assets/icon-marketplace/lazada_1.svg');
}
.logo-bukalapak {
  width: 22%;
  height: auto;
  content: url('src/assets/icon-marketplace/bukalapak_1.svg');
}
.box-s5 {
  width: 100%;
  height: 420px;
  left: 100px;
  top: 3935px;
  background: linear-gradient(180deg, #DFEBFE 0%, #DEF4FE 100%);
  border-radius: 40px;
}
.img-foot-s5 {
  width: 100%;
  height: auto;
  content: url('src/assets/img/img-foot-s5.png');
}
.title-s5 {
  width: 504px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 32px;
  color: #0B69FD;
}
.content-s5 {
  width: 504px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  color: #1A1E25;
}
.box-content-s5 {
  padding-top: 96px;
}
/* end section 5 */

/* section 6 */
.parallax-section6 {
  padding: 40px 0px;
}
.title-section6 {
  color: #1E232E;
  font-size: 2.125rem;
  font-family: Montserrat;
  font-weight: bold;
}
.p-S6 {
  font-family: montserrat;
  font-size: 1rem;
  color: #1A1E25;
}
.content-S6 {
  text-align: center;
}
.img-s6 {
  width: calc(100% - 50%);
  content: url('src/assets/img/img-S7.png')
}
.img-b {
  content: url('src/assets/images/banner2.svg')
}
.img-c {
  content: url('src/assets/img/laptop-screens-crop-baru.webp')
}
.carousel-inner {
  width: 100%;
}
.img-slider {
  width: calc(100% - 40%);
  height: auto;
  border-radius: 20px;
}
.box-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 40%);
}
.carousel-control-prev,
.carousel-control-next {
  align-items: center;
  width: calc(100% - 40%);
}
.slide-left {
  cursor: pointer;
  content: url('src/assets/img/slider-left.svg')
}
.slide-right {
  cursor: pointer;
  content: url('src/assets/img/slider-right.svg')
}
.img-footer-s6 {
  padding: 40px;
  width: 100%;
  height: auto;
  content: url('src/assets/icon-news/investor.png')
}
.nama-toko {
  font-size: 0.9375rem;
  color: #0B69FD;
  font-weight: bold;
  font-family: Montserrat;
}
.pemilik-toko {
  font-size: 0.875rem;
  font-weight: bold;
  font-family: Montserrat;
  color: #1E232E;
}
.toko {
  text-align: center;
  margin-top: 10px;
}
.footer-s6 {
  text-align: center;
  color: #1E232E;
  font-size: 1.25rem;
  font-family: Montserrat;
  font-weight: bold;
  margin-top: 20px;
}
.media-coverage {
  padding: 10px 25px;
}
.logo-lambe {
  width: 100%;
  height: auto;
  content: url('src/assets/images/logo-lambe-turah.png');
}
.logo-detik-finance {
  width: 100%;
  height: auto;
  content: url('src/assets/images/logo-detikfinance.png');
}
.logo-liputan {
  width: 100%;
  height: auto;
  content: url('src/assets/images/logo-liputan6.png');
}
.logo-media-indonesia {
  width: 100%;
  height: auto;
  content: url('src/assets/images/logo-mediaIndonesia.png');
}
.logo-suara {
  width: 100%;
  height: auto;
  content: url('src/assets/images/logo-suara.png');
}
.logo-tribun {
  width: 100%;
  height: auto;
  content: url('src/assets/images/logo-tribunimages.png');
}
/* end section 6 */

/* section 8 */
.parallax-section8 {
  padding: 40px 0px;
}
.img-s8 {
  width: 100%;
  content: url('src/assets/img/img-s8.png');
}
.title-foot-s8 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 120%;
  color: #FFFFFF;
}
.box-foot {
  position: relative;
  top: 25%;
}

/* section 8 */
.img-s8 {
  width: 100%;
  content: url('src/assets/img/img-s8.png');
}
.title-foot-s8 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 120%;
  color: #FFFFFF;
}
.content-s8 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  color: #1A1E25;
}
/* end section 8 */

.box-footer {
  width: 100%;
  height: 160px;
  background: #0B69FD;
  border-radius: 40px;
  position: relative;
  top: -80px;
}
.box-foot {
  position: relative;
  top: 25%;
}
.title-s8 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 120%;
  color: #1A1E25;
}

/* footer */
.parallax-footer {
  background-color: #DFEBFE;
  padding-bottom: 40px;
  width: 100%;
}
.title-footer {
  color: #FFFFFF;
  font-size: 24px;
  font-family: Montserrat;
}
.border-box {
  border: 1px solid #BCCDEB;
  width: 100%;
  text-align: center;
  background: #BCCDEB;
}
.logo-rantai-footer {
  width: 170px;
  height: auto;
  content: url('src/assets/img/Logo-foot-blue.png');
}
.set-rantai {
  position: relative;
  top: 35px;
}
.title-content-footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 15px;
  color: #0B69FD;
}
.çontent-footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  color: #1A1E25;
}
.btn-footer {
  border-radius: 20px;
  opacity: 1;
  background-color: #ffffff;
  border: 2px solid #0b69fd;
  color: #0b69fd;
  width: 320px;
  height: 42px;
}
.btn-footer-text:hover {
  color: #0b69fd;
}
.btn-footer:hover {
  background-color: #fff;
  color: #0b69fd;
}
.btn-footer:hover .logo-video .icon-video-biru, .btn-footer .logo-video {
  display: none;
}
.btn-footer:hover .icon-video {
  display: block;
}
.btn-footer-text {
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 15px;
  color: #0B69FD;
}
.btn {
  font-weight: 400;
  font-family: 'Montserrat';
  font-size: 0.75rem !important;
}
.icon-video-biru {
  content: url('src/assets/images/video.svg');
  width: 20px;
  height: 20px;
  margin-left: 25px
}
.logo-video {
  content: url('src/assets/images/videowhite.svg');
  width: 20px;
  height: 20px;
  margin-left: 25px
}
.img-phone {
  content: url('src/assets/img/icon-phone.png');
  width: 20px;
  height: auto;
}
.img-email {
  content: url('src/assets/img/Icon-email.png');
  width: 20px;
  height: auto;
}
.img-location {
  content: url('src/assets/img/Icon-location.png');
  width: 20px;
  height: 25px;
  position: relative;
  top: 5px;
}
.last-footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 15px;
  color: #0B69FD;
  cursor: pointer;
}
.last-foot {
  position: relative;
  top: 25px;
  font-size: 12px;
  font-family: montserrat;
  color: #FFFFFF;
}
.follow-me {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  color: #1A1E25;
  padding-left: 55px;
}
#icon-tiktok {
  content: url('src/assets/img/Icon-tiktok.png');
  width: 20px;
  height: 20px;
  margin-left: 35px;
}
#icon-instagram {
  content: url('src/assets/img/Icon-instagram.png');
  width: 20px;
  height: 20px;
  margin-left: 25px;
}
#icon-linkedin {
  content: url('src/assets/img/Icon-linkedin.png');
  width: 20px;
  height: 20px;
  margin-left: 25px;
}
#icon-facebook {
  content: url('src/assets/img/Icon-facebook.png');
  width: 20px;
  height: 20px;
  margin-left: 25px;
}
#icon-youtube {
  content: url('src/assets/img/Icon-youtube.png');
  width: 20px;
  height: 20px;
  margin-left: 25px;
}
.footer-media {
  position: relative;
  left: 10px;
}
/* end footer */

/* section faq */
.paralax-faq {
  padding-block: 100px;
  position: relative;
}
.btn-faq {
  border: 1px solid #0b69fd;
  border-radius: 24px;
  width: 190px;
  background-color: #0b69fd;
  height: 42px;
  color: #fff;
  font-size: 12px;
  align-items: center;
  font-family: montserrat;
}
.btn-faq:hover {
  background-color: rgb(16, 98, 230);
}
.title-footer-faq {
  font-size: 24px;
  font-family: montserrat;
  font-weight: bold;
  color: #0b69fd;
  text-align: center;
}
.content-footer-faq {
  font-size: 15px;
  font-family: source sans pro, Regular;
  color: #1E232E;
  text-align: center;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
#readmore {
  position: sticky;
  top: 150px;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
/* end section faq */
.box-media {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(53, 76, 113, 0.12);
  border-radius: 20px;
  width: 190px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.box-media:hover {
  box-shadow: 0px 4px 12px 8px #DAE5F8;
  transition: all 0.5s ease;
}

/* section testimoni */
.parallax-testimoni {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 150px;
}
.padd-b {
  padding-bottom: 150px !important;
}
.dot-slide {
  width: 12px;
  height: 12px;
  background: #DAE5F8;
  border-radius: 100px;
}
.dot {
  text-align: center;
}
.dot ul {
  list-style: none;
}
.dot ul li {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background: #DAE5F8;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  transition: background-color 0.6s ease;
}
.dot ul li.selected {
  background: #0B69FD;
}
.dot ul li:hover {
  background: #0B69FD;
}
.box-slider-testimoni {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.box-card-testimoni {
  background: #FFFFFF;
  box-shadow: 0px 12px 24px rgba(53, 76, 113, 0.12);
  border-radius: 20px;
  height: 228px;
  width: 465px;
  padding: 30px;
  margin: 0 15px;
}
.card-content-testimoni .desc-testimoni {
  font-weight: 600;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 0.875rem;
}
.icon-img-testimoni {
  content: url('src/assets/img/testimoni.png');
  width: 55px;
  height: auto;
}
.t-muted {
  color: #7E91B3;
}
.owner-name {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.navbar-toggler:focus, .nav-language {
  left: 0 !important;
}
/* end section testimoni */

/* set scroll animate */
.scroller-section {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.scroller-section.active {
  transform: translateY(0);
  opacity: 1;
}
