<header id="home" class="">
  <nav id="navbar" class="navbar navbar-expand-md fixed-top">
    <div class="container bg-crumb">
      <div class="d-flex justify-content-start" style="gap: 15px">
        <a
          class="
            navbar-brand
            fw-bold
            d-flex
            justify-content-center
            align-items-center
          "
          href="/"
          style="gap: 5px"
        >
          <div class="logo-header" loading="lazy"></div>
        </a>
      </div>
    </div>
  </nav>
</header>
<main id="main">
  <section class="home">
    <div class="container" data-aos="fade-up">
      <div class="box-content img-subsciption">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-6">
            <div class="section-title">
              <div style="font-size: 25px; font-weight: bold">
                <span style="color: #0b69fd"> {{ "Rantai" | translate }}</span
                >{{ "Chains_in_Various_Media" | translate }}
              </div>
            </div>
          </div>
          <!-- <div class="input-searh col-md-3">
            <input
              type="searh"
              class="form-control"
              placeholder="cari nama pengguna"
            />
          </div> -->
          <!-- <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>No.</th>
                <th>Nama</th>
                <th>Phone Number</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of listReferraCode; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td>{{ x.name }}</td>
                <td>{{ x.phone }}</td>
                <td class="text-center">{{ x.point }}</td>
              </tr>
            </tbody>
          </table> -->
          <mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                ID
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ i }} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Progress
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.name }}% </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="phone">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.phone }} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="point">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Color
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.point }}
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </section>
</main>
<footer id="contact">
  <div class="footer-top" style="overflow: hidden">
    <div class="container">
      <div class="foot-content">
        <div class="row justify-content-between" style="margin-bottom: 40px">
          <div class="col-md-10 col-sm-6">
            <p
              class="h5 pt-4 fw-bolder"
              data-aos="fade-right"
              style="margin-bottom: 5px"
            >
              {{ "You_Need_Information" | translate }} <br />
              {{ "Contact_Us_and_Get" | translate }}
            </p>
          </div>

          <div class="home-btn col-md-2 col-sm-6" data-aos="fade-right">
            <div class="row justify-content-start">
              <div class="" style="margin-top: 25px">
                <a href="#" class="btn btn-primary button1 col-md-8 col-sm-8">
                  <div class="btn-title-lets-start">
                    {{ "CONTACT_US" | translate }}
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="border-box">
          <div class="row justify-content-between">
            <div class="col-md-4 foot-content" style="margin-top: 30px">
              <p class="h5 pt-4 fw-bolder" data-aos="fade-right">
                {{ "What_Is_Rantai" | translate }}
              </p>
              <div class="row align-items-start" [style.padding-right]="'25px'">
                <p data-aos="zoom-in" class="pt-3" data-aos-delay="150">
                  {{ "Rantai_Is" | translate }}
                </p>
              </div>
            </div>

            <div class="col-md-4 foot-content" style="margin-top: 30px">
              <p class="h5 pt-4 fw-bolder" data-aos="fade-right">
                {{ "CHECK_OUR_VIDEO" | translate }}
              </p>
              <div class="row justify-content-start">
                <div
                  class="home-btn pt-2 margin-footer teks"
                  data-aos="fade-right"
                >
                  <a
                    href="https://www.youtube.com/watch?v=8JxK--cp9nE"
                    class="btn col-md-8 col-sm-8 btn-footer"
                    target="_blank"
                  >
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <span class="btn-footer-text">Rantai Introduction</span>
                    </div>
                  </a>
                </div>

                <div class="home-btn pt-2 teks" data-aos="fade-right ">
                  <a
                    href="https://www.youtube.com/watch?v=E3fK2pUYTts"
                    class="btn col-md-8 col-sm-8 btn-footer"
                    target="_blank"
                  >
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <span class="btn-footer-text"
                        >Marketplace Introduction</span
                      >
                    </div>
                  </a>
                </div>

                <div class="home-btn pt-2 teks" data-aos="fade-right">
                  <a
                    href="https://youtu.be/y-Hc7QWsOd8"
                    class="btn col-md-8 col-sm-8 btn-footer"
                    target="_blank"
                  >
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <span class="btn-footer-text">Marketplace Tutorial</span>
                    </div>
                  </a>
                </div>

                <div class="home-btn pt-2 teks" data-aos="fade-right">
                  <a
                    href="https://www.youtube.com/watch?v=TbvnWpw19kc"
                    class="btn col-md-8 col-sm-8 btn-footer"
                    target="_blank"
                  >
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <span class="btn-footer-text">Rantai Talk</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-4 foot-content" style="margin-top: 30px">
              <p class="h5 pt-4 fw-bolder" data-aos="fade-right">
                {{ "CONTACT_US" | translate }}
              </p>

              <div class="d-flex flex-row align-items-center bd-highlight pt-3">
                <div class="img-fluid img-phone" loading="lazy"></div>
                <div
                  class="bd-highlight"
                  data-aos="fade-left"
                  data-aos-delay="200"
                >
                  <div class="font-small px-3">021 296 19 712</div>
                </div>
              </div>

              <div class="pt-3">
                <a href="mailto:marketing@rantai.tech">
                  <div class="d-flex flex-row bd-highlight align-items-center">
                    <div class="img-fluid img-email" loading="lazy"></div>
                    <div
                      class="bd-highlight color-1"
                      data-aos="fade-left"
                      data-aos-delay="100"
                    >
                      <div class="font-small px-3" style="color: white">
                        support@rantai.tech
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <address>
                <a
                  class="d-flex flex-row bd-highlight"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.google.com/maps/place/Cyberindo+Sinergi+Sistem/@-6.1909029,106.844157,15z/data=!4m5!3m4!1s0x0:0x72e1a1ba58194f32!8m2!3d-6.1909029!4d106.844157"
                >
                  <div class="d-flex flex-row align-items-center bd-highlight">
                    <div class="img-fluid img-location" loading="lazy"></div>
                    <div class="bd-highlight">
                      <div
                        class="color-1 font-small px-3"
                        style="text-align: left; color: white"
                        data-aos="fade-left"
                        data-aos-delay="300"
                      >
                        Vinilon Building, Jl. Raden Saleh Raya No.kav 13-17,
                        RT.1/RW.2, Kenari, Kec. Senen, Kota Jakarta Pusat,
                        Daerah Khusus Ibukota Jakarta 10430.
                      </div>
                    </div>
                  </div>
                </a>
              </address>
              <div class="d-flex justify-content-start align-items-center">
                <a
                  href="https://www.tiktok.com/@rantai.tech?lang=en&is_copy_url=1&is_from_webapp=v1"
                  target="_blank"
                  data-aos="fade-up"
                  data-aos-delay="100"
                  title="tiktok"
                >
                  <i id="icon-tiktok"></i>
                </a>
                <a
                  href="https://www.instagram.com/official.rantai/"
                  target="_blank"
                  data-aos="fade-up"
                  data-aos-delay="200"
                  title="instagram"
                >
                  <i id="icon-instagram"></i>
                </a>
                <a
                  href="https://www.linkedin.com/company/72025358/admin/"
                  target="_blank"
                  data-aos="fade-up"
                  data-aos-delay="300"
                  title="linkedin"
                >
                  <i id="icon-linkedin"></i>
                </a>
                <a
                  href="https://www.facebook.com/RantaiOfficial"
                  target="_blank"
                  data-aos="fade-up"
                  data-aos-delay="400"
                  title="facebook"
                >
                  <i id="icon-facebook"></i>
                </a>
                <a
                  href="https://www.youtube.com/channel/UCtScj1vp9ZV9tOZ1tcZnC4w"
                  target="_blank"
                  data-aos="fade-up"
                  data-aos-delay="500"
                  title="youtube"
                >
                  <i id="icon-youtube"></i>
                </a>
              </div>
              <ul
                class="
                  nav nav-pills
                  d-flex
                  justify-content-start
                  align-items-start
                "
                style="gap: 15px"
              ></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="d-flex align-items-center justify-content-center"
    style="background-color: #0b69fd; padding-top: 1px"
  >
    <p class="text-center text-white">
      &copy; {{ newDate }}&nbsp;PT Cyberindo Sinergi Sistem
    </p>
  </div>
</footer>
