<div>
  <form [formGroup]="formPassword" (ngSubmit)="onSubmit()">
    <table>
      <tr *ngIf="failed">
        <td colspan="2">
          <div class="alert failed">CHANGE PASSWORD FAILED</div>
        </td>
      </tr>
      <tr *ngIf="success">
        <td colspan="2">
          <div class="alert success">CHANGE PASSWORD SUCCESS</div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">New Password</label>
        </td>
        <td class="input">
          <input type="password" id="password" formControlName="password" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Confirmation Password</label>
        </td>
        <td class="input">
          <input
            type="password"
            id="confirmation_password"
            formControlName="confirmation_password"
          />
          <div
            class="label"
            *ngIf="
              formPassword.controls.confirmation_password.errors?.equalValidator
            "
          >
            Password and confirmation password must be match
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-right">
          <button type="submit">Change</button>
        </td>
      </tr>
    </table>
  </form>
</div>
