/* 
animated
*/

@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
}

/* 
HEADER
*/

header {
  background: rgb(9, 96, 227);
  background: linear-gradient(
    90deg,
    rgba(9, 96, 227, 1) 0%,
    rgba(3, 52, 85, 1) 100%
  );
}

/* NAVBAR */

.navbar {
  background: rgb(9, 96, 227);
  background: linear-gradient(
    90deg,
    rgba(9, 96, 227, 1) 0%,
    rgba(3, 52, 85, 1) 100%
  );
}
.navbar-nav {
  padding-left: 30px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-item {
  padding-left: 20px;
}

.navbar.scrolled {
  background: rgb(9, 96, 227);
  background: linear-gradient(
    90deg,
    rgba(9, 96, 227, 1) 0%,
    rgba(3, 52, 85, 1) 100%
  );
}

/* HOME */
.home {
  min-height: 100vh;
  padding: 150px 0;
  background-color: var(--main-color);
}

.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin: 0 0 20px;
  text-transform: capitalize;
}
.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: white;
  margin: 0;
  font-weight: 400;
}

.btn-1 {
  background-color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  color: #095edc;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.btn-1:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn-1:hover {
  box-shadow: none;
}

.home .home-btn {
  margin-top: 40px;
}
.home .home-img {
  width: 70%;
  box-shadow: var(--shadow-black-100);
  position: absolute;
  right: 0;
  bottom: 0;
}

p.ls-c-1 {
  line-height: 1.4 !important;
}

.img-google-play {
  animation: pulse_01 2s ease infinite;
  border-radius: 5px;
  margin-left: 20px;
}

/* .back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #0960e3;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #0960e3;
  color: #fff;
} */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

.color-1 {
  color: rgb(68, 68, 68);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5846f9;
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.send-email {
  background-color: #0b69ff;
  border: none;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  .animated {
    -webkit-animation: none;
    animation: none;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

section {
  padding: 100px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
}

.contact-us {
  border: 2px solid #fff;
  border-radius: 100px;
  width: auto;
}

.contact-us .btn-contact {
  display: inline-block;
  padding: 11px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 15px;
  font-weight: 400;
  font-weight: 600;
  transition: 0.3s;
}

.subheader {
  background-color: #0b69ff;
}

.footer {
  background-color: #064b9f;
}

section,
.subheader {
  padding: 20px 0;
}

.btn-contact-us {
  border: 1px solid #fff;
  border-radius: 100px;
}

.btn-contact-us:hover {
  border: 1px solid rgba(15, 247, 208, 0.9);
  transition: ease-in;
}

.btn-contact-us,
a {
  color: #fff;
  padding: 10px 0px;
  text-align: center;
}

.about {
  padding: 120px 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: #2c4964;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5846f9;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .read-more {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 28px 15px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(45deg, #0b69ff 0%, #0b69ff 100%);
  position: relative;
}

.about .content .read-more:hover {
  background: linear-gradient(180deg, #0b69ff 0%, #0b69ff 100%);
}

.about .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.features .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #5846f9;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.features img {
  -webkit-filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.2));
}

.ourfeatures {
  padding: 50px 20px;
  background-color: #e4e4e4;
}

.services .icon-box {
  text-align: center;
  padding: 20px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services {
  padding: 120px 0;
  overflow: hidden;
}

.faq {
  background: linear-gradient(42deg, #5846f9 0%, #033455 100%);
}

.faq .section-title h2,
.faq .section-title p {
  color: #fff;
}

.faq .section-title h2::after {
  background: rgba(255, 255, 255, 0.6);
}

#faq .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 100px;
  text-align: left;
  border: 1px solid white;
}

#faq .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
  outline: none;
}

#faq .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  outline: none;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #0b69ff;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 100px 100px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#faq .footer-newsletter form input[type="submit"]:hover {
  background: #2461e6;
}

#footer {
  font-size: 14px;
  background-color: #e2f2fd;
  /* background: linear-gradient(45deg, rgba(54, 119, 240, 0.9) 0%, rgba(86, 58, 250, 0.9) 100%), url("../../assets/images/background-header-2.png") center center no-repeat; */
  background-size: cover;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
