<nav id="nav">
    <ul>
        <li><div class="logo">Rantai.tech</div></li>
        <li>Home</li>
        <li>About Us</li>
        <li>Overview</li>
        <li>Features</li>
        <li>Contact</li>
    </ul>

    <div id="mobile">
        <div class="logo">Rantai.tech</div>
        <div>burger</div>
    </div>
</nav>

<header id="header">
    <div id="header-content">
      <h1>
        The Smartest Way to <br />
        Manage Your Business
      </h1>
      <h2>
        We provide integrated solutions to various e-commerce sales channels
        in Indonesia.
      </h2>
      <h3>Get your own way to productivity!</h3>
      <button type="button">Download</button>
    </div>
</header>

<section id="demo">
    <h1>Get Started Today With Our Free Demo</h1>
    <button type="button">CONTACT US</button>
</section>

<section id="about" class="container">
    <div id="about-img">
      <img src="../../assets/images/about.png" alt="about" />
    </div>
    <div id="about-desc">
      <h1>What is Rantai?</h1>
      <p>
        Rantai is a "Dual Cloud" based service to facilitate management and
        improve the efficiency of distribution companies. Ranging from
        purchasing, selling, inventory, accounts receivable, POS to business
        intelligence for company management. Rantai automatically capture and
        extract sales order data, such as a customer’s past purchases from the
        company, as well as unstructured data such as written communications
        and saves it to an electronic archive.
      </p>
      <br />
      <p>
        Rantai helps organize and manage business easily through one
        integrated platform to various e-commerce sales channels in Indonesia.
        It’s Keep your business growing at the dramatic rates you plan for and
        integrated around a single codebase, database and business process.
        Which can be initiated from anywhere, using any computer, tablet, or
        smartphone.
      </p>
      <button type="button">REQUEST FREE DEMO</button>
    </div>
</section>

<section id="overview" class="container container-overview">
    <h1>
      We provide integrated solutions to various e-commerce sales channels in
      Indonesia.
    </h1>
    <div>
      <div id="overview-container" class="container-img">
        <div>
          <img src="../../assets/images/overview-left-1.png" alt="" />
        </div>
        <div>
          <img src="../../assets/images/overview-left-2.png" alt="" />
        </div>
        <div>
          <img src="../../assets/images/overview-center.png" alt="" />
        </div>
        <div>
          <img src="../../assets/images/overview-right-1.png" alt="" />
        </div>
        <div>
          <img src="../../assets/images/overview-right-2.png" alt="" />
        </div>
      </div>
    </div>
</section>

<footer id="footer" class="container">
    <!-- <section class="section-1">
      <h1>Contact us!</h1>
      <p>
        There are many variations of passages of Lorem Ipsum but the majority
        have suffered alteration.
      </p>
      <div>
        <div id="contact-container-email">
          <input type="text" placeholder="Email here" />
          <button type="submit">Send</button>
        </div>
      </div>
    </section> -->
    <section class="section-2">
      <div id="logo">
        <div>
          <h1>Rantai.tech</h1>
        </div>
      </div>
      <div id="features" class="desc">
        <h1>Features</h1>
        <p>
          Fully Integrated System Sales Order Automation Realtime Visibility
          System Configuration Online & Offline
        </p>
      </div>
      <div id="aboutus" class="desc">
        <h1>About</h1>
        <p>
          Rantai is a multichannel e-commerce management service from
          Cyberindo Sinergi Sistem. We provide integrated solutions that can
          synchronize products to various e-commerce sales channels in
          Indonesia. Starting from management order, various sales channels
          integration, stock synchronization and also logistics processes in
          one platform.
        </p>
      </div>
      <div id="contactus" class="desc">
        <h1>Contact Us</h1>
        <div id="email-container">
          <ul id="email">
            <li><p>support@rantai.tech</p></li>
            <li><p>021 296 19 712</p></li>
            <li>
              <p>
                VINILON BUILDING <br />
                Jalan Raden Sales
              </p>
            </li>
          </ul>

          <div id="sosmed_icon">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="terms_and_policy">
          <a href="#">Terms of user</a> |
          <a href="#">Privacy Policy</a>
        </div>
      </div>
    </section>
    <section class="section-1">
      <p>&copy; 2019 PT. Cyberindo Synergy System</p>
    </section>
</footer>
