<header id="header" class="fixed-top">
  <div class="container-fluid">
    <div class="row">
      <nav
        class="navbar navbar-expand-lg navbar-light scrolling-navbar nav-menu"
      >
        <div class="container">
          <div class="logo">
            <a class="navbar-brand text-capitalize fw-bold" href="#home">
              <img
                src="../../assets/images/background-header-logo.svg"
                alt=""
              />
              Rantai.tech
            </a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-4">
              <li class="nav-item active">
                <a
                  class="nav-link text-white fw-bold"
                  aria-current="page"
                  href="#home"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold text-white" href="#about"
                  >About Us</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold text-white" href="#overview"
                  >Overview</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold text-white" href="#ourfeatures"
                  >Features</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold text-white" href="#contact"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<section id="hero" class="">
  <div class="container pt-3" data-aos="fade-up">
    <div class="row align-items-center justify-content-center">
      <!-- <div class="col-md-5">
        <h1>
          The new innovation of sales process and Stock Management Of Your
          business
        </h1>
        <h2>Get your own way to productivity!</h2>
        <div>
          <a href="#about" class="btn-let-started scrollto text-uppercase"
            >Let's Start</a
          >
        </div>
      </div> -->
    </div>
  </div>
</section>

<main id="main">
  <section class="subheader">
    <div class="container pt-3">
      <div class="row align-items-center justify-content-center">
        <div class="col col-md-10 col-sm-6" data-aos="fade-right">
          <p class="text-lg-start text-white">
            Get Started Today With Our Rantai Application
          </p>
        </div>
        <div class="col col-md-2 col-sm-6 contact-us" data-aos="fade-up">
          <a href="#contact" class="btn-contact text-uppercase"> Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="about">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="150">
          <img
            src="../../assets/images/landing-page/laptop-tab-phone.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-md-6 pt-4 pt-lg-0 order-2 order-lg-2 content"
          data-aos="fade-right"
        >
          <h1 class="fw-bold">What is Rantai?</h1>
          <p class="fs-6 fw-normal">
            Rantai is a "Dual Cloud" based service to facilitate management and
            improve the efficiency of distribution companies. Ranging from
            purchasing, selling, inventory, accounts receivable, POS to business
            intelligence for company management. Rantai automatically capture
            and extract sales order data, such as a customer’s past purchases
            from the company, as well as unstructured data such as written
            communications and saves it to an electronic archive.
          </p>
          <br />
          <p class="fs-6 fw-normal">
            Rantai helps organize and manage business easily through one
            integrated platform to various e-commerce sales channels in
            Indonesia. It’s Keep your business growing at the dramatic rates you
            plan for and integrated around a single codebase, database and
            business process. Which can be initiated from anywhere, using any
            computer, tablet, or smartphone.
          </p>
          <a href="#" class="read-more">REQUEST FREE DEMO</a>
        </div>
      </div>
    </div>
  </section>
  <section id="overview" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Overview</h2>
        <div class="lh-1">
          <p data-aos="fade-right" class="fs-4">
            We provide best solutions to manage your business
          </p>
          <p data-aos="fade-left" class="fs-4 fw-bold">
            more intelligently, efficiently and effectively
          </p>
        </div>
      </div>
      <div class="row row-cols-md-5 g-5 mt-5 justify-content-center">
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <img
            src="../../assets/images/landing-page/overview-1.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <img
            src="../../assets/images/landing-page/overview-2.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
          <img
            src="../../assets/images/landing-page/overview-main.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <img
            src="../../assets/images/landing-page/overview-3.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <img
            src="../../assets/images/landing-page/overview-4.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <!-- <div
        class="row align-items-center justify-content-center row-cols-md-5 g-5"
      >
        <div
          class="col-lg-2 col-md-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="box">
            <img
              src="../../assets/images/landing-page/overview-1.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div
          class="col-lg-2 col-md-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="box featured">
            <img
              src="../../assets/images/landing-page/overview-2.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div
          class="col-lg-2 col-md-6 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="box">
            <img
              src="../../assets/images/landing-page/overview-main.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div
          class="col-lg-2 col-md-6 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="box">
            <img
              src="../../assets/images/landing-page/overview-3.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div
          class="col-lg-2 col-md-6 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="box">
            <img
              src="../../assets/images/landing-page/overview-4.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <section id="ourfeatures" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Our Features</h2>
      </div>
      <div class="ourfeatures">
        <div class="row">
          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box iconbox-blue">
              <img
                src="../../assets/images/landing-page/landing-page-08.png"
                alt=""
                class="card-img-top"
              />
              <h4 class="fs-5 pt-4 fw-bold">Full Integrated System</h4>
              <p class="pt-3 fw-normal">
                Ranging from purchase, stock management, sales, invoicing to
                delivery are integrated with one system.
              </p>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box iconbox-orange">
              <img
                src="../../assets/images/landing-page/landing-page-07.png"
                alt=""
                class="card-img-top"
              />
              <h4 class="pt-5 fs-5 fw-bold">Sales Order Automation</h4>
              <p class="pt-3">
                Minimize the manual selling process, give consumers access to
                product information, and also able to place orders
                automatically.
              </p>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box iconbox-pink">
              <img
                src="../../assets/images/landing-page/landing-page-09.png"
                alt=""
                class="card-img-top"
              />
              <h4 class="pt-5 fs-5 fw-bold">Realtime Stock & Price</h4>
              <p class="pt-3">
                Stock & prices are managed efficiently, every change of stock
                and price will be updated in real-time.
              </p>
            </div>
          </div>

          <div
            class="box col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box iconbox-yellow">
              <img
                src="../../assets/images/landing-page/landing-page-10.png"
                alt=""
                class="card-img-top"
              />
              <h4 class="pt-5 fs-5 fw-bold">Smart ERP System</h4>
              <p class="pt-3">
                Implementing Enterprise resource planning (ERP) Point of Sales
                (POS), Sales Order Automation & Bill Due Date Reminder. Alse
                equipped with auto backup & auto-update features.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="others" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p class="fs-2 fw-bold">What makes us different from others</p>
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box iconbox-blue justify-content-start">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-04.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">
              Stock Management <br />& Planning
            </h4>
            <p class="text-start">
              Control your stocks and returns with five methods and also
              purchasing planning based on the market demand.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box iconbox-orange">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-01.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">Data Privacy</h4>
            <p class="text-start">
              All of important data of your business is stored on your own
              server.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-02.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">
              Stay Connected With Your Business Partners
            </h4>
            <p class="text-start">
              Suppliers and Costumer is connected in one application that allows
              you to make transaction easily.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box iconbox-yellow">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-03.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">Stored Completely</h4>
            <p class="text-start">
              Reports and transaction history are stored completely to an
              digital archive (Paperless)
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="500"
        >
          <div class="icon-box iconbox-red">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-06.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">Realtime Transaction Information</h4>
            <p class="text-start">
              Know the updates and progress of your transaction through
              notification that are send automatically.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="600"
        >
          <div class="icon-box iconbox-teal">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-05.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">Support</h4>
            <p class="text-start">
              We are here to support you, our support team will respond quickly
              and be ready to help you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="faq">
    <div class="container" data-aos="fade-up">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-2 col-md-4 footer-links">
          <h4 class="text-white">contact us!</h4>
        </div>
        <div class="col-lg-5 col-md-4 footer-links">
          <p class="text-white fs-6">
            There are many variations of passages of Lorem Ipsum but the
            majority have suffered alteration.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 footer-links footer-newsletter">
          <form action="" method="post">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Email here"
                aria-label="Email here"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary text-white send-email fs-6"
                type="button"
                id="button-addon2"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight">
              <img
                src="../../assets/images/logofooter.svg"
                alt="logo"
                class="img-fluid"
              />
            </div>
            <div class="bd-highlight ps-1 pt-3" data-aos="fade-left">
              <p class="h2 fw-bolder">Rantai.tech</p>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <p class="h5 pt-4 fw-bolder" data-aos="fade-right">Features</p>
          <p data-aos="zoom-in" class="pt-3" data-aos-delay="150">
            Fully Integrated System Sales Order Automation Realtime Visibility
            System Configuration Online & Offline
          </p>
        </div>

        <div class="col-lg-3 col-md-6">
          <p class="h5 pt-4 fw-bolder" data-aos="fade-right">About</p>
          <p data-aos="zoom-in" class="pt-3" data-aos-delay="150">
            Rantai is a distribution management sales from Cyberindo Sinergi
            Sistem. We provide integrated solutions that can synchronize
            products to various distribution sales channels in Indonesia.
            Starting from management order, various sales channels integration,
            stock synchronization in one platform.
          </p>
        </div>

        <div class="col-lg-4 col-md-6">
          <p class="h5 pt-4 fw-bolder" data-aos="fade-right">Contact Us</p>
          <div class="d-flex flex-row bd-highlight">
            <img
              src="../../assets/images/email.svg"
              alt="email"
              class="img-fluid pe-3"
            />
            <div
              class="bd-highlight pt-3"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <p>support@rantai.tech</p>
            </div>
          </div>
          <div class="d-flex flex-row bd-highlight">
            <img
              src="../../assets/images/phone.svg"
              alt="phone"
              class="img-fluid pe-3"
            />
            <div
              class="bd-highlight pt-4"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <p>+6281315822282 / +628170822282</p>
            </div>
          </div>
          <div class="d-flex flex-row bd-highlight">
            <img
              src="../../assets/images/location.svg"
              alt="location"
              class="img-fluid"
            />
            <div class="bd-highlight pt-3">
              <p class="ps-4" data-aos="fade-left" data-aos-delay="300">
                Vinilon Building, Jl. Raden Saleh Raya No.kav 13-17, RT.1/RW.2,
                Kenari, Kec. Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota
                Jakarta 10430.
              </p>
            </div>
          </div>

          <div class="pt-2">
            <ul class="nav nav-pills">
              <li class="nav-item" data-aos="fade-up" data-aos-delay="100">
                <a href="#" class="nav-link"
                  ><img
                    src="../../assets/images/twitter.svg"
                    alt="twitter"
                    class="img-fluid"
                /></a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="200">
                <a href="#" class="nav-link"
                  ><img
                    src="../../assets/images/instagram.svg"
                    alt="twitter"
                    class="img-fluid"
                /></a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="300">
                <a href="#" class="nav-link"
                  ><img
                    src="../../assets/images/linkedin.svg"
                    alt="twitter"
                    class="img-fluid"
                /></a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="400">
                <a href="#" class="nav-link"
                  ><img
                    src="../../assets/images/facebook.svg"
                    alt="twitter"
                    class="img-fluid"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer align-items-center justify-content-center pt-3">
    <p class="text-center text-white p-3">
      &copy; {{ newDate }}&nbsp;PT Cyberindo Sinergi Sistem
    </p>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<div id="preloader"></div>
