/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #5846f9;
  text-decoration: none;
}

a:hover {
  color: #8577fb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

/* * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */
