<header id="home">
  <nav id="navbar" class="navbar navbar-expand-md fixed-top b-navbar">
    <div class="container bg-crumb">
      <div class="d-flex justify-content-start">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
          aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand fw-bold d-flex justify-content-center align-items-center" href="/" >
          <div class="logo-header" loading="lazy"></div>
        </a>
      </div>

      <div class="collapse navbar-collapse edit-header" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a 
              class="nav-link active fw-bold"
              href="/"
              >HOME</a
            >
          </li>
          <li class="nav-item">
            <div
              class="nav-link pointer d-flex justify-content-center fw-bold"
              (click)="download()"
            >
              <div>OTHERS</div>
              &nbsp;
              <div class="icon-chev pl-2" id="chevron1"></div>
            </div>
            <div id="menu-download" class="mt-2">
              <a
                class="nav-link text-left fw-bold"
                href="https://rantai.tech/file/rantaitalk.exe"
                download
                >RANTAI TALK</a
              >
              <a
                class="nav-link text-left fw-bold"
                href="https://rantai.tech/file/auditinstaller.exe"
                download
                >AUDIT</a
              >
              <a
                class="nav-link text-left fw-bold"
                href="https://rantai.tech/file/auditpatch.exe"
                download
                >AUDIT PATCH {{ versionPacth }}</a
              >
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link fw-bold" href="#contact">{{ "Contact" | translate | uppercase
              }}</a>
          </li>

          <li class="nav-item">
            <div class="nav-link click-lang lang-change" (click)="showLanguage()">
              <div [ngClass]="langService.lang === 'en' ? 'en-flag' : 'id-flag'"></div>
              <span class="fw-bold">{{
                langService.lang === "en" ? "EN" : "ID"
                }}</span>
              <div class="icon-chev" id="chevron"></div>
            </div>
            <div id="lang-hide" class="mt-2">
              <div class="menu-lang" (click)="changeLanguage('en')">
                <div class="en-flag"></div>
                <span>EN</span>
              </div>
              <div class="line"></div>
              <div class="menu-lang" (click)="changeLanguage('id')">
                <div class="id-flag"></div>
                <span>ID</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main id="main">
  <div id="block">
    <!-- SECTION 1 -->
    <section id="parallax" data-aos="fade-up" class="parallax-section1">
      <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-6 col-sm-6">
              <article>
                <div class="d-grid gap-2">
                  <div >
                    <h1 class="title-section1" data-aos="fade-right">
                      {{ "Manage_Shop" | translate }} 
                    </h1>
                  </div>
                  <div class="font-source f-15 p-section1">
                    <div>
                      <p data-aos="fade-right">
                        {{ "Rantai_present" | translate }}
                      </p>
                    </div>
                    <div>
                      <p data-aos="fade-right" >
                        {{ "Signup_now_or" | translate }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-start gap-3 footer-section1" data-aos="fade-right">
                    <div class="col-4">
                      <a href="https://rantai.tech/web/accounts/sign-up"> 
                       <button class="btn-try-free">{{ "Sign_Up_Now" | translate }}</button>
                      </a>
                    </div>
                    <div class="col-4 logo-google">
                      <a href="https://play.google.com/store/apps/details?id=com.css.rantai" target="_blank"
                        rel="noopener noreferrer">
                        <div class="app-store" loading="lazy"></div>
                      </a>
                    </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-sm-6 banner-1">
              <img src="../../assets/images/banner2.svg" alt="banner" class="banner1"/>
            </div>
          </div>   
      </div>
    </section>
    <!-- END SECTION 1 -->
    
    <!-- SECTION 2 -->
    <section class="parallax-section2">
      <div class="medal gap-4">
        <div class="img-medal"></div>
        <div class="text-medal1">{{ "Trusted_by" | translate }} <span class="text-medal2">000</span> {{ "Online_Stores_from" | translate }}</div>     
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- SECTION 3 -->
    <section class="parallax-section3">
      <div class="container">
        <div class="row align-items-center justify-content-center gap-4">
          <div class="d-flex justify-content-center">
            <div class="title-blue">
              {{ "OUR_FEATURES" | translate }}
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="title-first col-md-6">
              {{ "Features_The_Right" | translate }}
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="title-silver col-md-5">
              {{ "Rantai_help" | translate }}
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-md-6" data-aos="fade-up">
              <div class="tab-phone" loading="lazy"></div>
            </div>

            <div class="row col-md-6 gap-2" data-aos="fade-right">    
              <div class="title-second">
                {{ "Manage_stock" | translate }}
              </div>

              <div>
                <div>
                  <div class="d-flex gap-3">
                    <div id="logo-centang"></div>
                    <p class="title-content">{{ "Update_Stock" | translate }}</p>
                  </div>
                  <div>
                    <p class="content-first">{{ "Update_Stock_Item" | translate }}</p>
                  </div>
                </div>

              <div>
                <div class="d-flex gap-3">
                  <div id="logo-centang"></div>
                  <p class="title-content">{{ "Rantai_Pos" | translate }}</p>
                </div>
                <div>
                  <p class="content-first">{{ "Online_Cashier" | translate }}</p>
                </div>
              </div>

              <div>
                <div class="sign-free">
                  <p class="fw-bold f-15 ">
                    {{ "Sign" | translate }} <span class="text-blue">{{ "Free_Forever" | translate }}</span>
                  </p>
                </div>
                <div class="d-flex justify-content-start btn-try" data-aos="fade-right">
                  <div class="col-md-4 col-sm-5">
                    <a href="https://rantai.tech/web/accounts/sign-up"> 
                      <button class="btn-try-free font-montserrat">{{ "TRY_FREE" | translate }}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

    <!-- SECTION 4 -->
    <section class="parallax-section4">
      <div class="container">
        <div class="col-md-6" data-aos="fade-up">
          <div class="image-mobile " loading="lazy">
            <img src="../../assets/images/tokoonline.svg" class="image-mobile"/>
          </div>
        </div>

        <div class="row align-items-center justify-content-center">
          <div class="row justify-content-between">
            <div class="row col-md-6 gap-3" data-aos="fade-right">   
              <div class="title-second">
                {{ "Control" | translate }}
              </div>

              <div>
              <div>
                <div class="d-flex gap-3">
                  <div id="logo-centang"></div>
                  <p class="title-content">
                    {{ "TRANSACTION_INFORMATION" | translate }}
                  </p>
                </div>
                <div>
                  <p class="content-first">
                    {{ "Access_Transaction_List" | translate }}
                  </p>
                </div>
              </div>

              <div>
                <div class="d-flex gap-3">
                  <div id="logo-centang"></div>
                  <p class="title-content">{{ "SCRAPE_AND_COPY" | translate }}</p>
                </div>
                <div>
                  <p class="content-first">{{ "Move_or_Copy" | translate }}</p>
                </div>
              </div>

              <div>
                <div class="d-flex gap-3">
                  <div id="logo-centang"></div>
                  <p class="title-content">{{ "RANTAI_TALK" | translate }}</p>
                </div>
                <div>
                  <p class="content-first">{{ "Connect_With_All" | translate }}</p>
                </div>
              </div>

              <div>
                <div class="sign-free">
                  <p class="fw-bold f-15 ">
                      {{ "Sign" | translate }} <span class="text-blue">{{ "Free_Forever" | translate }}</span>
                  </p>
                </div>
                <div class="d-flex justify-content-start btn-try" data-aos="fade-right">
                  <div class="col-md-4 col-sm-5">
                    <a href="https://rantai.tech/web/accounts/sign-up"> 
                      <button class="btn-try-free">{{ "TRY_FREE" | translate }}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            </div>

          <div class="col-md-6 " data-aos="fade-up">
            <div class="image-size" loading="lazy">
              <img class="image-media" src="../../assets/images/tokoonline.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- SECTION 5 -->
    <section class="parallax-section5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6" data-aos="fade-up">
              <div class="image-size1 tab-fiturreport" loading="lazy"></div>
            </div>

            <div class="row col-md-6 gap-3" data-aos="fade-right">    
              <div class="title-second">{{ "Generate_Financial_Report" | translate }}</div>
              <div class="content-generate">{{ "More_Efficient" | translate }}</div>
              <div>
                <div>
                  <p class="fw-bold f-15 font-source">
                      {{ "Sign" | translate }} <span class="text-blue">{{ "Free_Forever" | translate }}</span>
                  </p>
                </div>
                <div class="d-flex justify-content-start btn-free" data-aos="fade-right">
                  <div class="col-md-4 col-sm-5">
                    <a href="https://rantai.tech/web/accounts/sign-up"> 
                      <button class="btn-try-free">{{ "TRY_FREE" | translate }}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>
    </section>
    <!-- END SECTION 5 -->

    <!-- SECTION 6 -->
    <section> 
      <div class="parallax-section6">
        <div class="row">
          <div class="col">
            <p class="fw-bold collaboration">
              {{ "Collaboration" | translate }}:
            </p>
          </div>
        </div>
        <div class="container">
          <div class=" row">
            <div class="col">
              <marquee scrollamount="13">
                <div class="d-flex justify-content-center gap-5">
                  <a data-aos="fade-up" data-aos-delay="100">
                    <i id="i-tokped"></i>
                  </a>

                  <a data-aos="fade-up" data-aos-delay="200">
                    <i id="i-lazada"></i>
                  </a>

                  <a data-aos="fade-up" data-aos-delay="300">
                    <i id="i-shopee"></i>
                  </a>

                  <a data-aos="fade-up" data-aos-delay="400">
                    <i id="i-blibli"></i>
                  </a>

                  <a data-aos="fade-up" data-aos-delay="500">
                    <i id="i-jdid"></i>
                  </a>

                  <a data-aos="fade-up" data-aos-delay="500">
                    <i id="i-bukalapak"> </i>
                    <p class="coming-soon">COMING SOON</p>
                  </a>
                </div>
              </marquee>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 6 -->

    <!-- SECTION 7 -->
    <section>
      <div class="parallax-section7">       
        <div class="row justify-content-center gap-3 content-S7">
          <div class="title-blue">EVENT RANTAI</div>
          <div class="title-section7">{{ "The_Winners" | translate }}</div>
          <div class="p-S7">{{ "Check_out_top5" | translate }}</div>

          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">           
            <div class="container d-flex justify-content-center">
              <div>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="slide-right" saria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row justify-content-center">
                    <img class="d-block img-s7">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row justify-content-center">
                    <img class="d-block img-s7">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row justify-content-center">
                    <img class="d-block img-s7">
                  </div>
                </div>
              </div> 
            
              <div>
                <button class="carousel-control-prev "type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="slide-left" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
              </div>       
            </div>         
          </div>
        </div>
 
      <div class="row justify-content-center gap-2 toko">
        <div class="nama-toko">{{ "This_Is_Shop_Name" | translate }}</div>
        <div class="pemilik-toko">{{ "This_Is_Shop_Owner" | translate }}</div>
      </div>
      <div class="footer-s7">{{ "Check_out_Rantai_Event" | translate }}</div>    
      <div class="container media-coverage">
        <div class="row">
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div>     
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
          <div class="col-6 col-sm-3 col-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div  class="img-footer-s7 hover-media"></div>
            </a>
          </div> 
        </div>
      </div>
      </div>
    </section>
    <!-- END SECTION 7 --> 
        
    <!-- SECTION 8 -->
    <section class="parallax-section8">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <div class="title-first">
            <span class="text-blue">{{ "Rantai" | translate }}</span>{{ "Chains_in_Various_Media" | translate }}
          </div>
        </div>
        <div class="row media-coverage">
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="100">
            <a href="https://www.beritasatu.com/ekonomi/756629/platform-rantai-link-mengelola-bisnis-berbasis-smart-erp"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-beritasatu hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="200">
            <a href="https://mediaindonesia.com/ekonomi/396038/new-normal-saatnya-lakukan-inovasi-penjualan-dan-manajemen"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 mediaindonesia hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="300">
            <a href="https://www.tribunnews.com/bisnis/2021/04/11/aplikasi-berbasis-smart-erp-ini-mudahkan-supplier-meng-update-stok-barang-seketika"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 tribunnews hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="400">
            <a href="https://ekbis.sindonews.com/read/388834/34/jualan-konvesional-tak-efektif-rantai-beri-inovasi-baru-1617725084"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 sindonews hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://inforial.tempo.co/info/1004809/rantai-inovasi-baru-penjualan-dan-manajemen-bisnis"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-tempo hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="600">
            <a href="https://www.suara.com/bisnis/2021/04/07/135527/rantai-link-jadi-inovasi-baru-penjualan-dan-manajemen-bisnis"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-suaracom hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://planet.merdeka.com/gadget/smart-erp-solusi-manajemen-bisnis-di-masa-pandemi.html?page=all"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-planetmerdeka hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://republika.co.id/berita/qr85z0291/kelola-bisnis-dengan-cara-konvensional-sudah-tak-relevan"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-republika hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://www.jpnn.com/news/rantai-inovasi-baru-penjualan-dan-manajemen-bisnis" target="_blank"
              rel="noopener noreferrer">
              <div id="imagee" class="image-size1 jpncom hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://www.wartaekonomi.co.id/read335645/rantai-inovasi-baru-penjualan-dan-manajemen-bisnis"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-wartaekonomi hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://today.line.me/id/v2/article/59w3ly" target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-linetoday hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://marketing.co.id/aplikasi-rantai-inovasi-baru-penjualan-dan-manajemen-bisnis/"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-marketing hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://inilah.com/ototekno/2591895/rantai-tawarkan-solusi-bisnis-berbasis-erp" target="_blank"
              rel="noopener noreferrer">
              <div id="imagee" class="image-size1 inilahcom hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://selular.id/2021/04/rantai-solusi-baru-manajemen-bisnis-berbasis-smart-erp/" target="_blank"
              rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-selular hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://teknologi.bisnis.com/read/20210407/84/1377484/cyberindo-sinergi-menawarkan-sistem-rantai-distribusi"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-bisnis hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://investor.id/business/platform-rantai-link-mengelola-bisnis-berbasis-smart-erp"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 investor hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://www.antaranews.com/berita/2087550/smart-erp-solusi-manajemen-bisnis-tepat-di-kala-pandemi"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-antaranews hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://akurat.co/iptek/id-1294923-read-kenali-aplikasi-rantai-jualan-dan-manajemen-bisnis-bisa-cek-dari-ponsel"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-akuratcom hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://www.itworks.id/38677/rantai-link-solusi-manajemen-bisnis-berbasis-smart-erp.html"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-itworks hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://mix.co.id/marcomm/news-trend/berbasis-smart-erp-platform-rantai-tawarkan-solusi-bagi-para-pelaku-bisnis/"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-mix hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://techbiz.id/2021/04/rantai-hadirkan-solusi-smart-erp-untuk-manajemen-bisnis/"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-techbiz hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://dailysocial.id/post/startup-saas-erp-rantai-hubungkan-distributor-dropshipper-dan-reseller-dalam-sistem-terintegrasi"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-dailysosial hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://idrtimes.com/rantai-solusi-baru-manajemen-bisnis-berbasis-smart-erp/" target="_blank"
              rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-idrtimes hover-media"></div>
            </a>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 d-flex justify-content-center align-items-center mt-md-0 p-4"
            data-aos="zoom-in" data-aos-delay="500">
            <a href="https://trenteknologi.com/rantai-smart-erp-inovasi-baru-penjualan-dan-manajemen-bisnis-anda/"
              target="_blank" rel="noopener noreferrer">
              <div id="imagee" class="image-size1 logo-trenteknologi hover-media"></div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- section FAQ -->
    <section id="readmore" class="paralax-faq" *ngIf="readMore">
      <div class="container">
        <div>
          <p class="title-first"> {{ "Frequently" | translate }}</p>
          <p class="content-footer-faq"> {{ "We_are_here" | translate }} </p>
        </div>

        <div class="container">
          <div class="row justify-content-start">
            <div class="col-6" >
              <ng-container *ngFor="let x of dataContent; let d = index">
                <div *ngIf="checkOdd(e)" class=" box">
                  <app-faq [content]="'aaaaa \n bb'"></app-faq>
                </div>
                <div *ngIf="!checkOdd(e)" class="col-6 box-faq title-montserrat" >
                  <app-faq [content]="x"></app-faq>
                </div>
              </ng-container>
            </div>
            <div class="col-6">
              <ng-container *ngFor="let x of dataContent; let d = index">
                <div *ngIf="checkOdd(e)" class=" box">
                  <app-faq [content]="'aaaaa \n bb'"></app-faq>
                </div>
                <div *ngIf="!checkOdd(e)" class="col-6 box-faq title-montserrat" >
                  <app-faq [content]="x"></app-faq>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row justify-content-start mt-5">
          <p class="title-footer-faq" data-aos="fade-right">
            {{ "Still_have" | translate }}
          </p>
          <p class="title-silver" >
            {{ "Haven't_found" | translate }}<br>{{ "is_always" | translate }}
          </p>
        </div>
        <div class="d-flex justify-content-center" data-aos="fade-right">       
          <a href="#contact"> 
            <button class="btn-faq">{{ "CONTACT_US" | translate }}</button>
          </a>
        </div>
      </div>
    </section>
    <!-- section FAQ -->
    
    <!-- section galery -->
    <!-- <section id="readmore" class="galery2" *ngIf="readMore">
      <div>
        <p class="title-sb">
          {{ "Use_Rantai" | translate }} <span class="text-rantai"> Rantai </span>
        </p>
        <p class="paragraf-sb">{{ "Those_customers" | translate }}</p>
      </div>

      <div class="container galery-dua">
        <ng-container *ngFor="let x of listGaleryTestimoni">
          <div class="row row-cols-12">
            <div class="col-12 responsive-galery2">
              <img
                [src]="
                  'https://rantai-marketplace.com/storage/api/file/image?directory=image/testimoni/' +
                  x.imageLocation
                "
                loading="lazy"
              />
              <div class="text-centerr col-12">
                <p class="nama-customer">{{ x.ownerName }}</p>
                <p class="nama-toko">{{ x.tokoName }}</p>
                <p class="nama-customer">{{ x.location }}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section> -->
    <!-- end section galery -->
  </div>
</main>

<!-- <footer id="contact" class="parallax-footer">
  <div class="footer-top" style="overflow: hidden">
    <div class="container">
      <div class="foot-conten">
        <div class="d-flex justify-content-between footer-media">
          <div> 
            <p class="teks-footer" data-aos="fade-right">
              {{ "You_Need_Information" | translate }} <br />
              {{ "Contact_Us_and_Get" | translate }}
            </p>
          </div>
          <div data-aos="fade-right">
            <a href="#contact"> 
              <button class="button-footer font-montserrat">{{ "CONTACT_US" | translate }}</button>
            </a>
          </div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="border-box">
          <div class="d-flex flex-row align-items-center bd-highlight pt-3 logo-foot">
            <div class="logo-footerr" loading="lazy"></div>
            <div class="bd-highlight" data-aos="fade-left" data-aos-delay="200"></div>
          </div>
          <div class="row justify-content-between pt-5">
            <div class="col-md-4 foot-content">
              <p class="fw-bold font-montserrat f-15" data-aos="fade-right">
                {{ "What_Is_Rantai" | translate }}
              </p>
              <div class="row align-items-start">
                <p data-aos="zoom-in" class="pt-3 f-14 font-source" data-aos-delay="150">
                  {{ "Rantai_Is" | translate }}
                </p>
              </div>
            </div>
            <div class="col-md-4 foot-content font-montserrat">
              <p class="f-15 fw-bold" data-aos="fade-right">
                {{ "CHECK_OUR_VIDEO" | translate }}
              </p>
              <div class="row justify-content-start">
                <div class=" pt-4 teks" data-aos="fade-right">
                  <a 
                    href="https://www.youtube.com/watch?v=8JxK--cp9nE"
                    class="btn col-md-8 col-sm-8 btn-footer"
                    target="_blank"
                  >
                    <div class="d-flex justify-content-start align-items-center">
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <span class="btn-footer-text">Rantai Introduction</span>
                    </div>
                  </a>
                </div>

                <div class=" pt-2 teks" data-aos="fade-right ">
                  <a
                    href="https://www.youtube.com/watch?v=E3fK2pUYTts"
                    class="btn col-md-8 col-sm-8 btn-footer"
                    target="_blank"
                  >
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <span class="text-foot">Marketplace Introduction</span>
                    </div>
                  </a>
                </div>

                <div class=" pt-2 teks" data-aos="fade-right">
                  <a
                    href="https://youtu.be/y-Hc7QWsOd8"
                    class="btn col-md-8 col-sm-8 btn-footer"
                    target="_blank"
                  >
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <span class="btn-footer-text">Marketplace Tutorial</span>
                    </div>
                  </a>
                </div>

                <div class=" pt-2 teks" data-aos="fade-right">
                  <a
                    href="https://www.youtube.com/watch?v=TbvnWpw19kc"
                    class="btn col-md-8 col-sm-8 btn-footer"
                    target="_blank"
                  >
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <span class="btn-footer-text">Rantai Talk</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-4 foot-content">
              <p class="fw-bold f-15 font-montserrat" data-aos="fade-right">
                {{ "CONTACT_US" | translate }}
              </p>

              <div class="font-source">
              <div class="d-flex flex-row align-items-center bd-highlight pt-3">
                <div class="img-fluid img-phone" loading="lazy"></div>
                <div class="bd-highlight" data-aos="fade-left" data-aos-delay="200">
                  <div class="font-small px-3" style="font-family: source sans pro; font-size: 14px">
                    021 296 19 712
                  </div>
                </div>
              </div>

              <div class="pt-3">
                <a href="mailto:marketing@rantai.tech">
                  <div class="d-flex flex-row bd-highlight align-items-center">
                    <div class="img-fluid img-email" loading="lazy"></div>
                    <div class="bd-highlight color-1" data-aos="fade-left" data-aos-delay="100">
                      <div class="font-small px-3" style="
                          color: white;
                          font-family: source sans pro;
                          font-size: 14px;
                        ">
                        support@rantai.tech
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <address>
                <a class="d-flex flex-row bd-highlight" target="_blank" rel="noopener noreferrer"
                  href="https://www.google.com/maps/place/Cyberindo+Sinergi+Sistem/@-6.1909029,106.844157,15z/data=!4m5!3m4!1s0x0:0x72e1a1ba58194f32!8m2!3d-6.1909029!4d106.844157">
                  <div class="d-flex flex-row align-items-center bd-highlight">
                    <div class="img-fluid img-location" loading="lazy"></div>
                    <div class="bd-highlight">
                      <div class="color-1 font-small px-3" style="
                          text-align: left;
                          color: white;
                          margin-left: 7px;
                          font-family: source sans pro;
                          font-size: 14px;
                        " data-aos="fade-left" data-aos-delay="300">
                        Vinilon Building, Jl. Raden Saleh Raya No.kav 13-17,
                        RT.1/RW.2, Kenari, Kec. Senen, Kota Jakarta Pusat,
                        Daerah Khusus Ibukota Jakarta 10430.
                      </div>
                    </div>
                  </div>
                </a>
              </address>
            </div>
              <div
                class="d-flex justify-content-start align-items-center log-footer"
              >
                <a
                  href="https://www.tiktok.com/@rantai.tech?lang=en&is_copy_url=1&is_from_webapp=v1"
                  target="_blank"
                  data-aos="fade-up"
                  data-aos-delay="100"
                  title="tiktok"
                >
                  <i id="icon-tiktok"></i>
                </a>
                <a href="https://www.instagram.com/official.rantai/" target="_blank" data-aos="fade-up"
                  data-aos-delay="200" title="instagram">
                  <i id="icon-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/72025358/admin/" target="_blank" data-aos="fade-up"
                  data-aos-delay="300" title="linkedin">
                  <i id="icon-linkedin"></i>
                </a>
                <a href="https://www.facebook.com/RantaiOfficial" target="_blank" data-aos="fade-up"
                  data-aos-delay="400" title="facebook">
                  <i id="icon-facebook"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCtScj1vp9ZV9tOZ1tcZnC4w" target="_blank" data-aos="fade-up"
                  data-aos-delay="500" title="youtube">
                  <i id="icon-youtube"></i>
                </a>
              </div>
              <ul class="nav nav-pills d-flex justify-content-start align-items-start" style="gap: 15px"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between footer-end font-montserrat">
      <div>
        <p class="text-white">
        &copy; {{ newDate }}&nbsp;PT Cyberindo Sinergi Sistem
        </p>
      </div>
      <div class="d-flex gap-4 text-footer-end">
        <p><a href="#">FAQ</a></p>
        <p><a href="#">Terms of Service</a></p>
        <p><a href="#">Help Center</a></p>
      </div>
    </div>
  </div>
</footer> -->

<footer id="contact">
  <div class="parallax-footer">
    <div class="container set-footer">
      <div class="row gap-5">
        <div class="d-flex justify-content-between d-footer">
          <div class="title-footer">
            <div>{{ "You_Need_Information" | translate }}</div>
            <div>{{ "Contact_Us_and_Get" | translate }}</div>
          </div>
          <div>
            <a href="#contact"> 
              <button class="button-footer">{{ "CONTACT_US" | translate }}</button>
            </a>
          </div>
        </div>
        <div>
          <div class="border-box"></div>
        </div>
        <div class="row gap-4">
          <div class="logo-rantai-footer" loading="lazy" data-aos="fade-left" data-aos-delay="200">
          </div>
          <div class="d-flex justify-content-between d-footer gap-4">
            <div class="col-md-4">
              <div class="row justify-content-start gap-2">          
                <div class="title-content-footer">{{ "What_Is_Rantai" | translate }}</div>
                <div class="çontent-footer">{{ "Rantai_Is" | translate }}</div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row justify-content-start gap-2">
              <div class="title-content-footer">{{ "CHECK_OUR_VIDEO" | translate }}</div> 
              <div class="row justify-content-start gap-2"> 
                <div>     
                  <a href="https://www.youtube.com/watch?v=8JxK--cp9nE" class="btn col-md-8 col-sm-8 btn-footer" target="_blank">
                    <div class="d-flex justify-content-start gap-3">
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <div class="btn-footer-text">Rantai Introduction</div>
                    </div>
                  </a> 
                </div>  
                <div>     
                  <a href="https://www.youtube.com/watch?v=E3fK2pUYTts" class="btn col-md-8 col-sm-8 btn-footer" target="_blank">
                    <div class="d-flex justify-content-start gap-3">
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <div class="btn-footer-text">Marketplace Introduction</div>
                    </div>
                  </a> 
                </div>
                <div>     
                  <a href="https://youtu.be/y-Hc7QWsOd8" class="btn col-md-8 col-sm-8 btn-footer" target="_blank">
                    <div class="d-flex justify-content-start gap-3">
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <div class="btn-footer-text">Marketplace Tutorial</div>
                    </div>
                  </a> 
                </div>
                <div>     
                  <a href="https://www.youtube.com/watch?v=TbvnWpw19kc" class="btn col-md-8 col-sm-8 btn-footer" target="_blank">
                    <div class="d-flex justify-content-start gap-3">
                      <div class="logo-video"></div>
                      <div class="icon-video-biru"></div>
                      <div class="btn-footer-text">Rantai Talk</div>
                    </div>
                  </a> 
                </div>
              </div>
              </div>
            </div>

            <div class="col-md-4 row gap-2">
              <div>
                <div class="title-content-footer">
                  <p>{{ "CONTACT_US" | translate }}</p>
                </div>
                <div class="row gap-3">
                <div class="d-flex justify-content-start gap-3" data-aos="fade-left" data-aos-delay="200">
                  <div class="img-phone" loading="lazy"></div>
                  <div class="çontent-footer">021 296 19 712</div>
                </div>
                <div class="d-flex justify-content-start gap-3" data-aos="fade-left" data-aos-delay="200">
                  <div class="img-email" loading="lazy"></div>
                  <div class="çontent-footer">support@rantai.tech</div>
                </div>
                <div class="d-flex justify-content-start gap-4" data-aos="fade-left" data-aos-delay="200">
                  <div class="img-location" loading="lazy"></div>
                  <div>
                    <a class="çontent-footer" target="_blank" href="https://www.google.com/maps/place/Cyberindo+Sinergi+Sistem/@-6.1909029,106.844157,15z/data=!4m5!3m4!1s0x0:0x72e1a1ba58194f32!8m2!3d-6.1909029!4d106.844157"> 
                      Vinilon Building Jl. Raden Saleh Raya No.kav 13-17, RT.1/RW.2, Kenari, Kec. Senen, Kota Jakarta Pusat, DKI Jakarta 10430
                    </a>
                  </div>
                </div>
                <div class="d-flex justify-content-start align-items-cente footer-media" >
                  <a
                    href="https://www.tiktok.com/@rantai.tech?lang=en&is_copy_url=1&is_from_webapp=v1"
                    target="_blank"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <i id="icon-tiktok"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/official.rantai/"
                    target="_blank"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >
                    <i id="icon-instagram"></i>
                  </a>
                  <a
                    href="https://www.linkedin.com/company/72025358/admin/"
                    target="_blank"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <i id="icon-linkedin"></i>
                  </a>
                  <a
                    href="https://www.facebook.com/RantaiOfficial"
                    target="_blank"
                    data-aos="fade-up"
                    data-aos-delay="400"
                  >
                    <i id="icon-facebook"></i>
                  </a>
                  <a
                    href="https://www.youtube.com/channel/UCtScj1vp9ZV9tOZ1tcZnC4w"
                    target="_blank"
                    data-aos="fade-up"
                    data-aos-delay="500"
                  >
                    <i id="icon-youtube"></i>
                  </a>
                </div>
              </div>
              </div>
            </div>         
          </div>
        </div>
        <div class="border-box"></div>
      </div>
      <div class="d-flex justify-content-between d-footer">
        <div class="last-foot">
          <div class="last-footer">© 2021 PT Cyberindo Sinergi Sistem</div>
        </div>
        <div class="d-flex justify-content-start gap-4 last-foot">
          <div (click)="selengkapnya()" class="last-footer"><div>FAQ</div></div>
          <div href="#" class="last-footer"><div>Terms of Service</div></div>
          <div href="#" class="last-footer"><div>Help Center</div></div>
        </div>
      </div>
    </div>
  </div>
</footer>