@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
}

header {
  background: rgb(9, 96, 227);
  background: linear-gradient( 90deg, rgba(9, 96, 227, 1) 0%, rgba(3, 52, 85, 1) 100%);
}

.navbar {
  background: rgb(9, 96, 227);
  background: linear-gradient( 90deg, rgba(9, 96, 227, 1) 0%, rgba(3, 52, 85, 1) 100%);
}

.text-logo {
  margin-left: 10px;
}

.navbar-nav {
  padding-left: 30px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-item {
  padding-left: 20px;
}

.nav-link, a {
  color: #fff;
  padding: 10px 0px;
  text-align: center;
}

.navbar.scrolled {
  background: rgb(9, 96, 227);
  background: linear-gradient( 90deg, rgba(9, 96, 227, 1) 0%, rgba(3, 52, 85, 1) 100%);
}

.home {
  min-height: 100vh;
  padding: 150px 0;
  background-color: var(--main-color);
}

.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin: 0 0 20px;
  text-transform: capitalize;
}

.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: white;
  margin: 0;
  font-weight: 400;
}

.btn-1 {
  background-color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  color: #095edc;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.btn-1:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn-1:hover {
  box-shadow: none;
}

.home .home-btn {
  margin-top: 40px;
}

.home .home-img {
  width: 70%;
  box-shadow: var(--shadow-black-100);
  position: absolute;
  right: 0;
  bottom: 0;
}

p.ls-c-1 {
  line-height: 1.4 !important;
}

.img-google-play {
  animation: pulse_01 2s ease infinite;
  border-radius: 5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.color-1 {
  color: rgb(68, 68, 68);
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

section {
  padding: 100px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
}

.about {
  padding: 120px 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: #2c4964;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5846f9;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .read-more {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 28px 15px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(45deg, #0b69ff 0%, #0b69ff 100%);
  position: relative;
}

.about .content .read-more:hover {
  background: linear-gradient(180deg, #0b69ff 0%, #0b69ff 100%);
}

.about .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.features .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #5846f9;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.features img {
  -webkit-filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.2));
}

.ourfeatures {
  padding: 50px 20px;
  background-color: #e4e4e4;
}

.services .icon-box {
  text-align: center;
  padding: 20px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services {
  padding: 120px 0;
  overflow: hidden;
}

.img-rounded {
  border-radius: 50%;
}

.subsciption {
  padding: 120px 0;
  overflow: hidden;
}

.subsciption .img-subsciption {
  text-align: center;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.1);
}

.subsciption .img-subsciption .icon {
  margin: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.subsciption .img-subsciption h4 {
  font-weight: 600;
  font-size: 22px;
}

.subsciption .img-subsciption p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.subscribe-active {
  color: #fff;
  background: rgb(11, 105, 253);
  background: linear-gradient( 180deg, rgba(11, 105, 253, 1) 0%, rgba(3, 51, 85, 1) 100%);
}

.platinum-active {
  color: #fff;
  background: rgb(11, 105, 253);
  background: linear-gradient( 180deg, rgba(11, 105, 253, 1) 0%, rgba(3, 51, 85, 1) 100%);
}

.subscribe-nonactive {
  color: #000;
  background: #e2f2fd;
  background-color: #e2f2fd;
}

.subsciption .subcription-desc {
  background: #fff;
  position: relative;
  top: -10px;
}

.box-medal {
  background-color: #fff;
  color: #0b69ff;
  width: 100px;
  border: none;
}

.box-medal-active {
  background-color: #fff;
  color: #0b69ff;
  width: 100px;
  border: none;
}

.box-medal-others {
  background-color: rgb(11, 105, 253);
  color: #fff;
  width: 100px;
  border: none;
}

.border-radius-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-top {
  display: table;
}

.box-top-content {
  display: table-cell;
}

.box-price {
  position: relative;
  top: -30px;
}

.list-group-item {
  border: none !important;
}

.box-list {
  width: 17px;
  height: 17px;
  border-radius: 100%;
}

.icon-info {
  content: url("../../assets/img/icon-info.svg");
  display: inline-block;
}

.icon-valid {
  content: url("../../assets/img/icon-valid.svg");
  display: inline-block;
}

.icon-invalid {
  content: url("../../assets/img/icon-invalid.svg");
  display: inline-block;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: unset !important;
}

.zoom-subscription {
  transition: transform 1s;
  cursor: pointer;
}

.zoom-subscription:hover {
  transform: scale(1.1);
}

.input-radius {
  border-radius: 20px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.close-form {
  content: url("../../assets/images/close.svg");
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: -4.375rem;
  left: 3.75rem;
  width: 80px;
  height: 80px;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.modal-content {
  border-radius: 15px !important;
  border: none;
}

.f-12 {
  font-size: 0.75rem;
}

.f-12-white {
  font-size: 0.75rem;
  color: #fff !important;
}

#contact {
  font-size: 14px;
  background-color: #e2f2fd;
  background-size: cover;
}

#contact .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#contact .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer {
  background-color: #064b9f;
}

.click-lang {
  outline: none;
  cursor: pointer;
}

.lang-change {
  align-items: center;
  justify-content: center;
}

.lang-change>div {
  position: relative;
  top: 5px;
}

#lang-hide {
  color: #fff;
  display: none;
  position: absolute;
  justify-content: center;
  z-index: 100;
  padding: 10px;
  width: 150px;
  align-items: center;
  background-color: #033355;
  border-radius: 5px;
}

.menu-lang {
  cursor: pointer;
  align-items: stretch;
  display: flex;
}

.menu-lang>div, span {
  margin: 3px;
  text-align: center;
}

.menu-lang:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.en-flag {
  display: inline-block;
  content: url("../../assets/images/english.png");
  width: 20px;
  height: 20px;
}

.id-flag {
  display: inline-block;
  content: url("../../assets/images/indonesia.png");
  width: 20px;
  height: 20px;
}

.icon-chev {
  content: url("../../assets/images/chevron-down.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.icon-sosial {
  border: 2px solid #6c757d;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-sosial {
  width: 100px;
}

.sosial-text {
  color: #444444;
}

.f-white {
  color: #fff !important;
  font-size: 0.75rem;
}

.img-filter {
  filter: grayscale(1);
}

.hover-media {
  transition: transform 1s;
}

.hover-media:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}
