<!-- <header id="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <div class="logo">
        <a class="navbar-brand text-capitalize fw-bold" href="#home">
          <img
            src="../../assets/images/background-header-logo.svg"
            alt="logo"
          />
          Rantai.tech
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-4">
          <li class="nav-item active">
            <a
              class="nav-link text-white fw-bold"
              aria-current="page"
              href="#home"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-white" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-white" href="#overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-white" href="#ourfeatures">
              Features
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-white" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="home d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <article class="home-text">
            <h1>
              The new innovation of sales process and Stock Management Of Your
              business
            </h1>
            <p>Get your own way to productivity!</p>
            <div class="home-btn">
              <a href="#" class="btn btn-1">Let's Start</a>

            </div>
          </article>
        </div>
        <div class="col-md-7 text-center">
          <div class="home-img bg-danger">
            <div class="circle"></div>
            <img src="assets/images/landing-page/landing-01.png" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </section>

</header> -->
<!-- <section id="hero" class="">
  <div class="container pt-3" data-aos="fade-up">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5">
        <h1>
          The new innovation of sales process and Stock Management Of Your
          business
        </h1>
        <h2>Get your own way to productivity!</h2>
        <div>
          <a href="#about" class="btn-let-started scrollto text-uppercase"
            >Let's Start</a
          >
        </div>
      </div>
    </div>
  </div>
</section> -->

<header id="home">
  <!-- NAVBAR START -->
  <nav class="navbar navbar-expand-md fixed-top" id="navbar">
    <div class="container">
      <!-- Brand -->
      <a
        class="navbar-brand fw-bold d-flex justify-content-center align-items-center"
        href="#home"
        style="gap: 5px"
      >
        <img
          src="../../assets/images/background-header-logo.svg"
          alt="logo"
          width="24px"
        />
        rantai.tech
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
        aria-controls="collapsibleNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ourfeatures">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <select (change)="changeLanguage($event.target.value)">
                <option value="en" [selected]="'en' === langService.lang">
                  English
                </option>
                <option value="id" [selected]="'id' === langService.lang">
                  Indonesia
                </option>
              </select>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- NAVBAR END -->

  <!-- HERO START-->
  <section class="home d-flex align-items-center position-relative">
    <img
      class="home-img"
      src="assets/images/landing-page/landing-01.png"
      alt="logo"
    />
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <article class="home-text">
            <h1 data-aos="fade-right">
              {{ "New_Inovation" | translate }}
            </h1>
            <p data-aos="fade-right">{{ "Get_Your" | translate }}</p>
            <div class="home-btn" data-aos="fade-right">
              <a href="#about" class="btn btn-1"> LET'S START </a>
              <a
                href="https://play.google.com/store/apps/details?id=com.css.rantai"
                target="_blank"
              >
                <img
                  src="assets/images/landing-page/google-play.png"
                  alt="google-play"
                  class="img-google-play"
                  height="50px"
                />
              </a>
            </div>
          </article>
        </div>
        <div class="col-md-7 text-center"></div>
      </div>
    </div>
  </section>

  <!-- HERO END -->
</header>

<main id="main">
  <section class="subheader">
    <div class="container pt-3">
      <div class="row align-items-center justify-content-center">
        <div class="col col-md-10 col-sm-6" data-aos="fade-right">
          <p class="text-lg-start text-white">
            {{ "Get_Started" | translate }}
          </p>
        </div>
        <div class="col col-md-2 col-sm-6 contact-us" data-aos="fade-up">
          <a href="#footer" class="btn-contact text-uppercase"> Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="about">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="150">
          <img
            src="../../assets/images/landing-page/laptop-tab-phone.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-md-6 pt-4 pt-lg-0 order-2 order-lg-2 content"
          data-aos="fade-right"
        >
          <article>
            <h1 class="fw-bold">{{ "What_Rantai" | translate }}</h1>
            <p class="fs-6 fw-normal" style="margin-top: 30px">
              {{ "Rantai_Is" | translate }} "{{ "Dual_Cloud" | translate }}"
              {{ "Description_Rantai" | translate }}
            </p>
            <p class="fs-6 fw-normal">
              {{ "Desctiption_Rantai_End" | translate }}
            </p>
          </article>
          <a href="#footer" class="read-more">REQUEST FREE DEMO</a>
        </div>
      </div>
    </div>
  </section>
  <section id="overview" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Overview</h2>
        <div class="lh-1">
          <p data-aos="fade-right" class="fs-4">
            {{ "We_Provide" | translate }}
          </p>
          <p data-aos="fade-left" class="fs-4 fw-bold">
            {{ "We_Provide_End" | translate }}
          </p>
        </div>
      </div>
      <div class="row row-cols-md-5 g-5 mt-5 justify-content-center">
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <img
            src="../../assets/images/landing-page/overview-1.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <img
            src="../../assets/images/landing-page/overview-2.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
          <img
            src="../../assets/images/landing-page/overview-main.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <img
            src="../../assets/images/landing-page/overview-3.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <img
            src="../../assets/images/landing-page/overview-4.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <!-- <div
        class="row align-items-center justify-content-center row-cols-md-5 g-5"
      >
        <div
          class="col-lg-2 col-md-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="box">
            <img
              src="../../assets/images/landing-page/overview-1.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div
          class="col-lg-2 col-md-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="box featured">
            <img
              src="../../assets/images/landing-page/overview-2.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div
          class="col-lg-2 col-md-6 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="box">
            <img
              src="../../assets/images/landing-page/overview-main.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div
          class="col-lg-2 col-md-6 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="box">
            <img
              src="../../assets/images/landing-page/overview-3.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div
          class="col-lg-2 col-md-6 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="box">
            <img
              src="../../assets/images/landing-page/overview-4.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <section id="ourfeatures" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Our Features</h2>
      </div>
      <div class="ourfeatures">
        <div class="row">
          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box iconbox-blue">
              <img
                src="../../assets/images/landing-page/landing-page-08.png"
                alt="image1"
                class="card-img-top img-ourfeatures pt-3"
              />
              <article>
                <h4 class="fs-5 pt-3 fw-bold">
                  {{ "Full_Integrated" | translate }}
                </h4>
                <p class="ls-c-1 pb-3">
                  {{ "Desc_Full_Integrated" | translate }}
                </p>
              </article>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box iconbox-orange">
              <img
                src="../../assets/images/landing-page/landing-page-07.png"
                alt="image2"
                class="card-img-top img-ourfeatures pt-3"
              />
              <article>
                <h4 class="fs-5 pt-3 fw-bold">
                  {{ "Sales_Order" | translate }}
                </h4>
                <p class="ls-c-1 pb-3">
                  {{ "Desc_Sales_Order" | translate }}
                </p>
              </article>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box iconbox-pink">
              <img
                src="../../assets/images/landing-page/landing-page-09.png"
                alt="image3"
                class="card-img-top img-ourfeatures pt-3"
              />
              <article>
                <h4 class="fs-5 pt-3 fw-bold">
                  {{ "Realtime" | translate }}
                </h4>
                <p class="ls-c-1 pb-3">
                  {{ "Desc_Realtime" | translate }}
                </p>
              </article>
            </div>
          </div>

          <div
            class="box col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box iconbox-yellow">
              <img
                src="../../assets/images/landing-page/landing-page-10.png"
                alt="image4"
                class="card-img-top img-ourfeatures pt-3"
              />
              <article>
                <h4 class="fs-5 pt-3 fw-bold">
                  {{ "Smart_Erp" | translate }}
                </h4>
                <p class="ls-c-1 pb-3">
                  {{ "Desc_Smart_Erp" | translate }}
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="others" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p class="fs-2 fw-bold">{{ "What_Make_Us" | translate }}</p>
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box iconbox-blue justify-content-start">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-04.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">
              {{ "Stock_Management" | translate }} <br />
              {{ "End_Managenment" | translate }}
            </h4>
            <p class="text-start">
              {{ "Desc_Stock_Management" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box iconbox-orange">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-01.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">{{ "Data_Privacy" | translate }}</h4>
            <p class="text-start">
              {{ "Desc_Data_Privacy" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-02.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">
              {{ "Stay_Connected" | translate }}
            </h4>
            <p class="text-start">
              {{ "Desc_Stay_Connected" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box iconbox-yellow">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-03.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">
              {{ "Store_Completed" | translate }}
            </h4>
            <p class="text-start">
              {{ "Desc_Store_Completed" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="500"
        >
          <div class="icon-box iconbox-red">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-06.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">
              {{ "Realtime_Transaction" | translate }}
            </h4>
            <p class="text-start">
              {{ "Desc_Realtime_Transaction" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="600"
        >
          <div class="icon-box iconbox-teal">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-05.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <h4 class="fw-bold text-start">{{ "Support" | translate }}</h4>
            <p class="text-start">
              {{ "Desc_Support" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="contact" class="faq">
    <div class="container" data-aos="fade-up">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-2 col-md-4 footer-links">
          <h4 class="text-white">contact us!</h4>
        </div>
        <div class="col-lg-5 col-md-4 footer-links">
          <p class="text-white fs-6">
            There are many variations of passages of Lorem Ipsum but the
            majority have suffered alteration.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 footer-links footer-newsletter">
          <form action="" method="post">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Email here"
                aria-label="Email here"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary text-white send-email fs-6"
                type="button"
                id="button-addon2"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section> -->
</main>
<footer id="footer">
  <div class="footer-top" style="overflow: hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight">
              <img
                src="../../assets/images/logofooter.svg"
                alt="logo"
                class="img-fluid"
              />
            </div>
            <div class="bd-highlight ps-1 pt-3" data-aos="fade-left">
              <p class="h2 fw-bolder">Rantai.tech</p>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <p class="h5 pt-4 fw-bolder" data-aos="fade-right">Features</p>
          <p data-aos="zoom-in" class="pt-3" data-aos-delay="150">
            {{ "Desc_Features" | translate }}
          </p>
        </div>

        <div class="col-lg-3 col-md-6">
          <p class="h5 pt-4 fw-bolder" data-aos="fade-right">About</p>
          <p data-aos="zoom-in" class="pt-3" data-aos-delay="150">
            {{ "Desc_About" | translate }}
          </p>
        </div>

        <div class="col-lg-4 col-md-6">
          <p class="h5 pt-4 fw-bolder" data-aos="fade-right">Contact Us</p>
          <div>
            <a
              href="mailto:support@rantai.tech"
              class="d-flex flex-row bd-highlight justify-content-start align-items-center"
            >
              <img
                src="../../assets/images/email.svg"
                alt="email"
                class="img-fluid pe-3"
              />
              <div
                class="bd-highlight pt-3 color-1"
                data-aos="fade-left"
                data-aos-delay="100"
              >
                <p>support@rantai.tech</p>
              </div>
            </a>
          </div>
          <div class="d-flex flex-row bd-highlight">
            <img
              src="../../assets/images/phone.svg"
              alt="phone"
              class="img-fluid pe-3"
            />
            <div
              class="bd-highlight pt-4"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <p>+6281315822282 / +628170822282</p>
            </div>
          </div>

          <address>
            <a
              class="d-flex flex-row bd-highlight"
              target="_blank"
              href="https://www.google.com/maps/place/Cyberindo+Sinergi+Sistem/@-6.1909029,106.844157,15z/data=!4m5!3m4!1s0x0:0x72e1a1ba58194f32!8m2!3d-6.1909029!4d106.844157"
            >
              <img
                src="../../assets/images/location.svg"
                alt="location"
                class="img-fluid"
              />
              <div class="bd-highlight pt-3">
                <p
                  class="ps-4 color-1 text-left"
                  data-aos="fade-left"
                  data-aos-delay="300"
                >
                  Vinilon Building, Jl. Raden Saleh Raya No.kav 13-17,
                  RT.1/RW.2, Kenari, Kec. Senen, Kota Jakarta Pusat, Daerah
                  Khusus Ibukota Jakarta 10430.
                </p>
              </div>
            </a>
          </address>

          <div class="pt-2">
            <ul
              class="nav nav-pills d-flex justify-content-center justify-content-md-start align-items-center"
              style="gap: 20px"
            >
              <li class="nav-item" data-aos="fade-up" data-aos-delay="100">
                <a
                  href="https://twitter.com/RantaiTech"
                  class="nav-link"
                  target="_blank"
                  ><img
                    src="../../assets/images/twitter.svg"
                    alt="twitter"
                    class="img-fluid"
                /></a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="200">
                <a
                  href="https://www.instagram.com/rantai.tech/"
                  class="nav-link"
                  target="_blank"
                  ><img
                    src="../../assets/images/instagram.svg"
                    alt="twitter"
                    class="img-fluid"
                /></a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="300">
                <a
                  href="https://www.youtube.com/channel/UCLjgjjT7CerfG5qT9TTVyrQ"
                  target="_blank"
                  class="nav-link"
                  ><img
                    src="../../assets/images/youtube.svg"
                    alt="twitter"
                    class="img-fluid"
                /></a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="400">
                <a
                  href="https://www.facebook.com/RantaiOfficial"
                  target="_blank"
                  class="nav-link"
                  ><img
                    src="../../assets/images/facebook.svg"
                    alt="twitter"
                    class="img-fluid"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer d-flex align-items-center justify-content-center pt-3">
    <p class="text-center text-white p-3">
      &copy; {{ newDate }}&nbsp;PT Cyberindo Sinergi Sistem
    </p>
  </div>
</footer>
<!-- End Footer -->

<!-- <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a> -->
<div id="preloader"></div>
