* {
  box-sizing: border-box;
}

@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
}

#home-section {
  background: rgb(9, 96, 227);
  background: linear-gradient( 90deg, rgba(9, 96, 227, 1) 0%, rgba(3, 52, 85, 1) 100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}

.parallax-section {
  height: 100vh;
}

#parallax {
  background: url('../../assets/images/landing-page/bg-1.webp') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.navbar {
  background: rgb(9, 96, 227);
  background: linear-gradient( 90deg, rgba(9, 96, 227, 1) 0%, rgba(3, 52, 85, 1) 100%);
}

.text-logo {
  margin-left: 10px;
}

.navbar-nav {
  padding-left: 30px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-item {
  padding-left: 20px;
}

.nav-link, a {
  color: #fff;
  padding: 10px 0px;
  text-align: center;
}

.navbar.scrolled {
  background: rgb(9, 96, 227);
  background: linear-gradient( 90deg, rgba(9, 96, 227, 1) 0%, rgba(3, 52, 85, 1) 100%);
}

.main-container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.home {
  min-height: 100vh;
  padding: 150px 0;
  background-color: var(--main-color);
}

.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin: 0 0 20px;
  text-transform: capitalize;
}

.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: white;
  margin: 0;
  font-weight: 400;
}

.btn-1 {
  background-color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  color: #095edc;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.app-logo {
  padding: unset !important;
}

.btn-1:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn-1:hover {
  box-shadow: none;
}

.home .home-btn {
  margin-top: 40px;
}

.home .home-img {
  width: 70%;
  box-shadow: var(--shadow-black-100);
  position: absolute;
  right: 0;
  bottom: 0;
}

p.ls-c-1 {
  line-height: 1.4 !important;
}

.img-google-play {
  animation: pulse_01 2s ease infinite;
  border-radius: 5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.color-1 {
  color: rgb(68, 68, 68);
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

section {
  padding: 55px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
}

.about {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.wave-bg-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-bottom: -100px;
  background-image: url('../../assets/img/bg-wave-2.svg');
  background-position: 0% 50%;
  background-size: 100%;
  background-repeat: repeat-x;
  transition: all 0.5s ease;
}

.wave-bg-2 {
  background-image: url('../../assets/img/bg-wave-2-grey.svg');
  background-position: 0% 50%;
  background-size: 100%;
  background-repeat: repeat-x;
  transition: all 0.5s ease;
}

.wave-bg-3 {
  background-image: url('../../assets/img/bg-wave-2-grey.svg');
  background-position: 0% 10%;
  background-size: 100%;
  background-repeat: repeat-x;
}

.about .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: #2c4964;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5846f9;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .read-more {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 28px 15px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(45deg, #0b69ff 0%, #0b69ff 100%);
  position: relative;
}

.about .content .read-more:hover {
  background: linear-gradient(180deg, #0b69ff 0%, #0b69ff 100%);
}

.about .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.f-title-page {
  color: #1a72fd;
}

#benefit {
  background: rgb(250, 250, 250);
  background: -moz-linear-gradient(0deg, rgba(250, 250, 250, 1) 0%, rgba(248, 251, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(250, 250, 250, 1) 0%, rgba(248, 251, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(0deg, rgba(250, 250, 250, 1) 0%, rgba(248, 251, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

#overview {
  background: #fff;
}

.benefit-subtitle {
  margin: 20px 0;
  padding-right: 20px;
}

#ourfeatures {
  background: rgb(250, 250, 250);
  background: -moz-linear-gradient(0deg, rgba(250, 250, 250, 1) 0%, rgba(248, 251, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(250, 250, 250, 1) 0%, rgba(248, 251, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(0deg, rgba(250, 250, 250, 1) 0%, rgba(248, 251, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.bg-features {
  background: unset !important;
}

.bg-features:hover {
  border-color: unset !important;
  box-shadow: unset !important;
  transform: scale(1.1);
  cursor: pointer;
}

.features .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #5846f9;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.features img {
  -webkit-filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.2));
}

.ourfeatures {
  padding: 50px 20px;
  background-color: #e4e4e4;
}

.smart-erp-content {
  margin-top: 100px;
}

.border-smart-erp {
  box-shadow: 0px 10px 20px #00000005 !important;
  border: 1px solid #E5EAF4 !important;
  opacity: 1;
}

.services .icon-box {
  text-align: center;
  padding: 30px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 10px 0;
  font-size: 22px;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 12px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services {
  overflow: hidden;
}

.img-rounded {
  border-radius: 50%;
}

.subsciption {
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(248, 250, 253, 0.44) 20%, rgba(248, 250, 254, 0.86) 40%, rgba(249, 251, 255, 0.92) 51%, rgba(250, 251, 253, 0.54) 71%, rgba(249, 249, 249, 0.17) 91%, rgba(255, 255, 255, 0.01) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(248, 250, 253, 0.44) 20%, rgba(248, 250, 254, 0.86) 40%, rgba(249, 251, 255, 0.92) 51%, rgba(250, 251, 253, 0.54) 71%, rgba(249, 249, 249, 0.17) 91%, rgba(255, 255, 255, 0.01) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(248, 250, 253, 0.44) 20%, rgba(248, 250, 254, 0.86) 40%, rgba(249, 251, 255, 0.92) 51%, rgba(250, 251, 253, 0.54) 71%, rgba(249, 249, 249, 0.17) 91%, rgba(255, 255, 255, 0.01) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(248, 250, 253, 0.44) 20%, rgba(248, 250, 254, 0.86) 40%, rgba(249, 251, 255, 0.92) 51%, rgba(250, 251, 253, 0.54) 71%, rgba(249, 249, 249, 0.17) 91%, rgba(255, 255, 255, 0.01) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(248, 250, 253, 0.44) 20%, rgba(248, 250, 254, 0.86) 40%, rgba(249, 251, 255, 0.92) 51%, rgba(250, 251, 253, 0.54) 71%, rgba(249, 249, 249, 0.17) 91%, rgba(255, 255, 255, 0.01) 100%);
}

.subsciption .img-subsciption {
  text-align: center;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 20px #00000005;
  border: 1px solid #E5EAF4;
  opacity: 1;
}

.subsciption .img-subsciption .icon {
  margin: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.subsciption .img-subsciption h4 {
  font-weight: 600;
  font-size: 22px;
}

.subsciption .img-subsciption p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.subscribe-active {
  color: #fff;
  background: rgb(11, 105, 253);
  background: linear-gradient( 180deg, rgba(11, 105, 253, 1) 0%, rgba(3, 51, 85, 1) 100%);
}

.platinum-active {
  color: #fff;
  background: rgb(11, 105, 253);
  background: linear-gradient( 180deg, rgba(11, 105, 253, 1) 0%, rgba(3, 51, 85, 1) 100%);
}

.subscribe-nonactive {
  color: #000;
  background: #e2f2fd;
  background-color: #e2f2fd;
}

.subsciption .subcription-desc {
  background: #fff;
  position: relative;
  top: -10px;
}

.box-medal {
  background-color: #fff;
  color: #0b69ff;
  width: 100px;
  border: none;
}

.box-medal-active {
  background-color: #fff;
  color: #0b69ff;
  width: 100px;
  border: none;
}

.box-medal-others {
  background-color: rgb(11, 105, 253);
  color: #fff;
  width: 100px;
  border: none;
}

.border-radius-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #E5EAF4;
  opacity: 1;
}

.box-top {
  display: table;
}

.box-top-content {
  display: table-cell;
}

.box-price {
  position: relative;
  top: -30px;
}

.list-group-item {
  border: none !important;
}

.box-list {
  width: 17px;
  height: 17px;
  border-radius: 100%;
}

.icon-info {
  content: url("../../assets/img/icon-info.svg");
  display: inline-block;
}

.icon-valid {
  content: url("../../assets/img/icon-valid.svg");
  display: inline-block;
}

.icon-invalid {
  content: url("../../assets/img/icon-invalid.svg");
  display: inline-block;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: unset !important;
}

.zoom-subscription {
  transition: transform 1s;
  cursor: pointer;
}

.zoom-subscription:hover {
  transform: scale(1.1);
}

.input-radius {
  border-radius: 20px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.close-form {
  content: url("../../assets/images/close.svg");
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: -4.375rem;
  left: 3.75rem;
  width: 80px;
  height: 80px;
}

.btn-close-video {
  position: absolute;
  z-index: 1;
  content: url("../../assets/images/close.svg");
  right: -30px;
  top: -35px;
  width: 60px;
  height: auto;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.modal-content {
  border-radius: 15px !important;
  border: none;
}

.modal-video {
  border-radius: unset !important;
}

.f-12 {
  font-size: 0.75rem;
}

.f-12-white {
  font-size: 0.75rem;
  color: #fff !important;
}

#contact {
  font-size: 14px;
  background-color: #e2f2fd;
  background-size: cover;
}

#contact .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#contact .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer {
  background-color: #064b9f;
}

.click-lang {
  outline: none;
  cursor: pointer;
}

.lang-change {
  align-items: center;
  justify-content: center;
}

.lang-change>div {
  position: relative;
  top: 5px;
}

#lang-hide {
  color: #fff;
  display: none;
  position: absolute;
  justify-content: center;
  z-index: 100;
  padding: 10px;
  width: 150px;
  align-items: center;
  background-color: #033355;
  border-radius: 5px;
}

.menu-lang {
  cursor: pointer;
  align-items: stretch;
  display: flex;
}

.menu-lang>div, span {
  margin: 3px;
  text-align: center;
}

.menu-lang:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.en-flag {
  display: inline-block;
  content: url("../../assets/images/english-baru.png");
  width: 20px;
  height: 20px;
}

.id-flag {
  display: inline-block;
  content: url("../../assets/images/indonesia-baru.png");
  width: 20px;
  height: 20px;
}

.icon-chev {
  content: url("../../assets/images/chevron-down.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.icon-sosial {
  border: 2px solid #6c757d;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-sosial {
  width: 100px;
}

.sosial-text {
  color: #444444;
}

.f-white {
  color: #fff !important;
  font-size: 0.75rem;
}

.img-filter {
  filter: grayscale(1);
}

.hover-media {
  transition: transform 1s;
}

.hover-media:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.error-message {
  color: #fff;
  margin-left: 10px;
}

.border-radius {
  border-radius: 10px;
  border: 1px solid #E5EAF4;
}

.border-radius-media-coverage {
  border-radius: 10px;
  border: 1px solid #E5EAF4;
  height: 85px;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0 5px 0 rgb(0 0 0 / 10%);
}

.image-size {
  width: 100%;
  height: auto;
}

.logo-header {
  content: url('../../assets/img/logo.png');
  width: 40px;
  height: 40px;
}

.app-store {
  content: url('../../assets/images/landing-page/google-play.webp');
  width: 167px;
  height: auto;
}

.tab-phone {
  content: url('../../assets/img/laptop-tab-phone.webp');
}

.benefit-image {
  content: url('../../assets/img/Icon-substract.svg');
}

.overview-1 {
  content: url('../../assets/img/overview-1.webp');
}

.overview-2 {
  content: url('../../assets/img/overview-2.webp');
}

.overview-main {
  content: url('../../assets/img/Overview-Main.webp');
}

.overview-3 {
  content: url('../../assets/img/overview-3.webp');
}

.overview-4 {
  content: url('../../assets/img/overview-4.webp');
}

.image-integrated {
  content: url('../../assets/images/landing-page/landing-integrasi.png');
}

.image-salesorder {
  content: url('../../assets/images/landing-page/landing-salesorder.png');
}

.image-realtime {
  content: url('../../assets/images/landing-page/landing-realtime.png');
}

.image-smarterp {
  content: url('../../assets/images/landing-page/landing-smarterp.png');
}

.img-landing-04 {
  content: url('../../assets/images/landing-page/landing-page-04.png');
}

.img-landing-01 {
  content: url('../../assets/images/landing-page/landing-page-01.png');
}

.img-landing-02 {
  content: url('../../assets/images/landing-page/landing-page-02.png');
}

.img-landing-03 {
  content: url('../../assets/images/landing-page/landing-page-03.png');
}

.img-landing-06 {
  content: url('../../assets/images/landing-page/landing-page-06.png');
}

.img-landing-05 {
  content: url('../../assets/images/landing-page/landing-page-05.png');
}

.silver-image {
  content: url('../../assets/img/plan-04.webp');
}

.gold-image {
  content: url('../../assets/img/plan-03.webp');
}

.titanium-image {
  content: url('../../assets/img/plan-02.webp');
}

.platinum-image {
  content: url('../../assets/img/plan-01.webp');
}

.tribunnews {
  content: url('../../assets/icon-berita/tribunnews.webp');
}

.inilahcom {
  content: url('../../assets/icon-berita/inilahcom.webp');
}

.jpncom {
  content: url('../../assets/icon-berita/icon-jpn.webp');
}

.mediaindonesia {
  content: url('../../assets/icon-berita/mediaindonesia.webp');
}

.investor {
  content: url('../../assets/icon-berita/investor.webp');
}

.logo-marketing {
  content: url('../../assets/icon-berita/logo-marketing.webp');
}

.sindonews {
  content: url('../../assets/icon-berita/sindonewscom.webp');
}

.logo-bisnis {
  content: url('../../assets/icon-berita/bisnis-com-baru.webp');
}

.logo-tempo {
  content: url('../../assets/icon-berita/tempo-baru.webp');
}

.logo-planetmerdeka {
  content: url('../../assets/icon-berita/planet-merdeka-baru.webp');
}

.logo-itworks {
  content: url('../../assets/icon-berita/itworks-new.webp');
}

.logo-antaranews {
  content: url('../../assets/icon-berita/antaranews.webp');
}

.logo-trenteknologi {
  content: url('../../assets/icon-berita/trenteknologi.webp');
}

.logo-mix {
  content: url('../../assets/icon-berita/icon-mix.webp');
}

.logo-dailysosial {
  content: url('../../assets/icon-berita/dailysosial.webp');
}

.logo-akuratcom {
  content: url('../../assets/icon-berita/akuratcom.webp');
}

.logo-republika {
  content: url('../../assets/icon-berita/republika.webp');
}

.logo-beritasatu {
  content: url('../../assets/icon-berita/beritasatu.webp');
}

.logo-wartaekonomi {
  content: url('../../assets/icon-berita/icon-warta-ekonomi.webp');
}

.logo-selular {
  content: url('../../assets/icon-berita/seluler.webp');
}

.logo-suaracom {
  content: url('../../assets/icon-berita/suaracom.webp');
}

.logo-idrtimes {
  content: url('../../assets/icon-berita/idrtimes.webp');
}

.logo-techbiz {
  content: url('../../assets/icon-berita/icon-techbiz.webp');
}

.logo-linetoday {
  content: url('../../assets/icon-berita/linetoday.webp');
}

.logo-footer {
  content: url('../../assets/img/logo-biru-baru.webp');
  width: 60px;
  height: 60px;
}

.img-email {
  content: url('../../assets/images/email.svg');
  width: 25px;
  height: auto;
}

.img-phone {
  content: url('../../assets/images/phone.svg');
  width: 25px;
  height: auto;
}

.img-location {
  content: url('../../assets/images/location.svg');
  width: 18px;
  height: 95px;
}

.img-instagram {
  content: url('../../assets/images/instagram.svg');
  width: 22px;
  height: 22px;
}

.img-facebook {
  content: url('../../assets/images/facebook.svg');
  width: 12px;
  height: 22px;
}

.img-linkedin {
  content: url('../../assets/images/linkedin.svg');
  width: 20px;
  height: 20px;
}

.icon-auto-trans {
  content: url('../../assets/icon-trans/aotumatic_trans.png');
}

.icon-realtime {
  content: url('../../assets/icon-trans/realtime_stock.png');
}

.icon-transhistory {
  content: url('../../assets/icon-trans/trans_history.png');
}

.icon-trans-doc {
  content: url('../../assets/icon-trans/trans_document.png');
}

.icon-trans-report {
  content: url('../../assets/icon-trans/trans_report.png');
}

.icon-profit-lost {
  content: url('../../assets/icon-trans/profit_lost.png');
}

.icon-stock-mutation {
  content: url('../../assets/icon-trans/stock_mutation.png');
}

.icon-paylable {
  content: url('../../assets/icon-trans/paylabel.png');
}

.icon-accounting {
  content: url('../../assets/icon-trans/accounting.png');
}

.icon-marketplace {
  content: url('../../assets/icon-trans/marketplace.png');
}

.icon-consumer {
  content: url('../../assets/icon-trans/consumer.png');
}

.icon-play-video {
  content: url('../../assets/img/play-video.svg');
  animation: pulse_01 2s ease infinite
}

.box-icon-trans {
  padding: 10px 20px !important;
}

.image-10 {
  width: 10%;
  height: auto !important;
}

.image-30 {
  width: 30%;
  height: auto;
}

.image-50 {
  width: 50%;
  height: auto;
}

.image-70 {
  width: 70%;
  height: auto;
}

.image-80 {
  width: 80%;
  height: auto;
}

.box-img {
  width: 50px !important;
  height: 50px !important;
}

.img-icon-trans {
  width: 70%;
  height: auto;
}

.border-img {
  border: 1px solid #e6eeff;
  border-width: 5px;
  padding: 3px;
  border-radius: 50%;
}

.img-padding {
  margin-top: 10px;
  padding: 0 30px;
}

.container {
  padding-right: 12px !important;
}

.box-overview-mobile {
  display: none;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #5846f9;
}

.video {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.smart-erp-shadow {
  border-color: #fff;
  box-shadow: 0px 0 10px 0 rgb(0 0 0 / 10%);
}

.title-blue {
  font-size: 0.85rem;
  color: #1a72fd;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.font-title {
  font-size: 1.8rem;
}

.font-desc {
  font-size: 12px;
  line-height: 22px;
}

.benefit-icon {
  height: unset !important;
  position: relative;
  left: -30px;
}

.benefit-box-border {
  box-shadow: 0px 10px 20px #00000005;
  border: 1px solid #E5EAF4;
  border-radius: 10px;
  opacity: 1
}

.font-small {
  font-size: 0.813rem;
  line-height: 22px;
}

.f-16 {
  font-size: 16px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 450px) and (orientation:portrait) {
  .services.icon-box {
    font-size: 0.813rem;
  }
  .f-13 {
    font-size: 0.813rem;
  }
  .tab-phone {
    display: none;
  }
  .artikel {
    margin: 0 35px;
  }
  .read-more {
    margin-left: 60px;
  }
  .img-resize {
    margin: 0 40px;
    position: relative;
  }
  .home-img {
    display: none;
  }
  .what-make {
    margin: 0 35px;
  }
  .home-text {
    font-size: 40px;
    margin: 0 30px;
  }
  .modal-content {
    margin: unset;
  }
  .tab-phone {
    padding: 0 50px;
  }
  .app-store {
    margin: 20px 0;
  }
  .f-rantai {
    font-size: 35px !important;
  }
  .foot-content {
    padding: 0 35px;
  }
  .media-coverage {
    padding: 0 25px;
  }
  .ourfeatures {
    background-color: unset;
  }
  .shadow-background {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  }
  .our-feature-img {
    margin: 0 10px;
  }
  .subsciption {
    padding: unset;
  }
  .f-title-head {
    font-size: 30px !important;
  }
  .img-filter {
    filter: grayscale(0);
  }
  .box-overview {
    display: none;
  }
  .box-overview-mobile {
    display: block;
  }
  .overview-slider {
    padding: 50px;
  }
  .btn-1 {
    font-weight: 600;
  }
  .title-overview {
    margin: 0 10px !important;
  }
  .our-title {
    margin: 0 10px;
  }
  .f-18 {
    font-size: 18px !important;
  }
  .about {
    padding: 100px 0;
  }
  .box-overview-mobile {
    display: none;
  }
  .our-featur {
    margin-top: -150px;
  }
  .box-profit {
    margin-top: 25px;
  }
  .wave-bg-1 {
    background-position: 0% 110%;
  }
  .wave-bg-2 {
    background-position: 0% 110%;
  }
  .image-10 {
    width: 25%;
    height: auto;
  }
  #parallax {
    background: rgb(9, 96, 227);
    background: linear-gradient( 90deg, rgba(9, 96, 227, 1) 0%, rgba(3, 52, 85, 1) 100%);
  }
  #subsciption {
    padding-top: 10px;
  }
}
