<header id="home">
  <nav class="navbar navbar-expand-md fixed-top" id="navbar">
    <div class="container">
      <a
        class="navbar-brand fw-bold d-flex justify-content-center align-items-center"
        href="#home"
        style="gap: 5px"
      >
        <img
          src="../../assets/img/logo.png"
          alt="logo"
          width="40px"
          loading="lazy"
          height="40px"
        />
        <span class="text-logo">Rantai</span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
        aria-controls="collapsibleNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ourfeatures">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact</a>
          </li>
          <li class="nav-item">
            <div>
              <div
                class="nav-link click-lang lang-change"
                (click)="showLanguage()"
              >
                <div
                  [ngClass]="langService.lang === 'en' ? 'en-flag' : 'id-flag'"
                ></div>
                <span>
                  {{
                    langService.lang === "en" ? "English" : "Indonesia"
                  }}</span
                >
                <div class="icon-chev" id="chevron"></div>
              </div>
              <div id="lang-hide">
                <div class="menu-lang" (click)="changeLanguage('en')">
                  <div class="en-flag"></div>
                  <span>English</span>
                </div>
                <div class="line"></div>
                <div class="menu-lang" (click)="changeLanguage('id')">
                  <div class="id-flag"></div>
                  <span>Indonesia</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="home d-flex align-items-center position-relative">
    <img
      class="home-img img-fluid"
      src="assets/img/laptop-screens-crop.webp"
      alt="logo"
      width="1344"
      height="835"
      loading="lazy"
    />
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <article class="home-text">
            <h1 data-aos="fade-right">
              {{ "New_Inovation" | translate }}
            </h1>
            <p data-aos="fade-right">{{ "Get_Your" | translate }}</p>
            <div class="home-btn" data-aos="fade-right">
              <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#requestFreeDemo"
                class="btn btn-1"
                [style.margin-right]="'20px'"
              >
                LET'S START
              </a>
              <a
                href="https://play.google.com/store/apps/details?id=com.css.rantai"
                target="_blank"
              >
                <img
                  src="assets/images/landing-page/google-play.png"
                  alt="google-play"
                  class="img-google-play"
                  height="50px"
                  width="167px"
                  loading="lazy"
                />
              </a>
            </div>
          </article>
        </div>
        <div class="col-md-7 text-center"></div>
      </div>
    </div>
  </section>
</header>

<main id="main">
  <section id="about" class="about">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="150">
          <img
            src="../../assets/img/laptop-tab-phone.webp"
            class="img-fluid"
            width="1500px"
            height="1125px"
            alt=""
            loading="lazy"
          />
        </div>
        <div
          class="col-md-6 pt-4 pt-lg-0 order-2 order-lg-2 content"
          data-aos="fade-right"
        >
          <article>
            <h1 class="fw-bold">{{ "What_Rantai" | translate }}</h1>
            <p class="fs-6 fw-normal" style="margin-top: 30px">
              {{ "Rantai_Is" | translate }}
              <i>"{{ "Dual_Cloud" | translate }}"</i>
              {{ "Description_Rantai" | translate }}
            </p>
            <p class="fs-6 fw-normal">
              {{ "Desctiption_Rantai_End" | translate }}
            </p>
          </article>
          <a
            href="#"
            class="read-more"
            data-bs-toggle="modal"
            data-bs-target="#requestFreeDemo"
          >
            REQUEST FREE DEMO
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="overview" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Overview</h2>
        <div class="lh-1">
          <p data-aos="fade-right" class="fs-4">
            {{ "We_Provide" | translate }}
          </p>
          <p data-aos="fade-left" class="fs-4 fw-bold">
            {{ "We_Provide_End" | translate }}
          </p>
        </div>
      </div>
      <div class="row row-cols-md-5 g-5 mt-5 justify-content-center">
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <img
            src="../../assets/img/overview-1.webp"
            class="img-fluid"
            alt=""
            width="623px"
            height="1330px"
            loading="lazy"
          />
        </div>
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <img
            src="../../assets/img/overview-2.webp"
            class="img-fluid"
            alt=""
            width="623px"
            height="1330px"
            loading="lazy"
          />
        </div>
        <div class="col mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
          <img
            src="../../assets/img/Overview-Main.webp"
            class="img-fluid"
            alt=""
            width="623px"
            height="1330px"
            loading="lazy"
          />
        </div>
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <img
            src="../../assets/img/overview-3.webp"
            class="img-fluid"
            alt=""
            width="623px"
            height="1330px"
            loading="lazy"
          />
        </div>
        <div
          class="col-lg-2 col-sm-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <img
            src="../../assets/img/overview-4.webp"
            class="img-fluid"
            alt=""
            width="623px"
            height="1330px"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="ourfeatures" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Our Features</h2>
      </div>
      <div class="ourfeatures">
        <div class="row">
          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box iconbox-blue">
              <img
                src="../../assets/images/landing-page/landing-page-08.png"
                alt="image1"
                width="232px"
                height="147px"
                loading="lazy"
                class="card-img-top img-ourfeatures pt-3"
              />
              <article>
                <h4 class="fs-5 pt-3 fw-bold">
                  {{ "Full_Integrated" | translate }}
                </h4>
                <p class="ls-c-1 pb-3">
                  {{ "Desc_Full_Integrated" | translate }}
                </p>
              </article>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box iconbox-orange">
              <img
                src="../../assets/images/landing-page/landing-page-09.png"
                alt="image2"
                width="232px"
                height="147px"
                class="card-img-top img-ourfeatures pt-3"
                loading="lazy"
              />
              <article>
                <h4 class="fs-5 pt-3 fw-bold">
                  {{ "Sales_Order" | translate }}
                </h4>
                <p class="ls-c-1 pb-3">
                  {{ "Desc_Sales_Order" | translate }}
                </p>
              </article>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <img
                src="../../assets/images/landing-page/landing-page-07.png"
                alt="image3"
                width="232px"
                height="147px"
                class="card-img-top img-ourfeatures pt-3"
                loading="lazy"
              />
              <article>
                <h4 class="fs-5 pt-3 fw-bold">
                  {{ "Realtime" | translate }}
                </h4>
                <p class="ls-c-1 pb-3">
                  {{ "Desc_Realtime" | translate }}
                </p>
              </article>
            </div>
          </div>

          <div
            class="box col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 p-4"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box iconbox-yellow">
              <img
                src="../../assets/images/landing-page/landing-page-10.png"
                width="232px"
                height="147px"
                loading="lazy"
                alt="image4"
                class="card-img-top img-ourfeatures pt-3"
              />
              <article>
                <h4 class="fs-5 pt-3 fw-bold">
                  {{ "Smart_Erp" | translate }}
                </h4>
                <p class="ls-c-1 pb-3">
                  {{ "Desc_Smart_Erp" | translate }}
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="others" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p class="fs-2 fw-bold">{{ "What_Make_Us" | translate }}</p>
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box iconbox-blue justify-content-start">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-04.png"
                class="img-fluid"
                alt=""
                width="647px"
                loading="lazy"
                height="561px"
              />
            </div>
            <h4 class="fw-bold text-start">
              {{ "Stock_Management" | translate }} <br />
              {{ "End_Managenment" | translate }}
            </h4>
            <p class="text-start">
              {{ "Desc_Stock_Management" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box iconbox-orange">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-01.png"
                class="img-fluid"
                alt=""
                width="647px"
                loading="lazy"
                height="561px"
              />
            </div>
            <h4 class="fw-bold text-start">{{ "Data_Privacy" | translate }}</h4>
            <p class="text-start">
              {{ "Desc_Data_Privacy" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-02.png"
                class="img-fluid"
                width="647px"
                height="561px"
                alt=""
                loading="lazy"
              />
            </div>
            <h4 class="fw-bold text-start">
              {{ "Stay_Connected" | translate }}
            </h4>
            <p class="text-start">
              {{ "Desc_Stay_Connected" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box iconbox-yellow">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-03.png"
                class="img-fluid"
                alt=""
                width="647px"
                height="561px"
                loading="lazy"
              />
            </div>
            <h4 class="fw-bold text-start">
              {{ "Store_Completed" | translate }}
            </h4>
            <p class="text-start">
              {{ "Desc_Store_Completed" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="500"
        >
          <div class="icon-box iconbox-red">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-06.png"
                class="img-fluid"
                alt=""
                width="647px"
                height="561px"
                loading="lazy"
              />
            </div>
            <h4 class="fw-bold text-start">
              {{ "Realtime_Transaction" | translate }}
            </h4>
            <p class="text-start">
              {{ "Desc_Realtime_Transaction" | translate }}
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="600"
        >
          <div class="icon-box iconbox-teal">
            <div class="icon">
              <img
                src="../../assets/images/landing-page/landing-page-05.png"
                class="img-fluid"
                alt=""
                width="647px"
                height="561px"
                loading="lazy"
              />
            </div>
            <h4 class="fw-bold text-start">{{ "Support" | translate }}</h4>
            <p class="text-start">
              {{ "Desc_Support" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="subsciption" class="subsciption section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{ "Title_Subscription" | translate }}</h2>
        <div class="lh-1">
          <p data-aos="fade-up" class="fs-4 fw-normal">
            {{ "Sub_Title" | translate }}
          </p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4 zoom-subscription"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="img-subsciption">
            <div
              id="silver"
              class="col border-radius-top sub subscribe-nonactive"
            >
              <div class="d-flex justify-content-between">
                <div>
                  <h1 class="fs-6 p-2 mt-4 ms-4 fw-bold box-medal-others">
                    Silver
                  </h1>
                </div>
                <div>
                  <img
                    src="../../assets/img/plan-04.webp"
                    alt="image3"
                    class="card-img-top img-ourfeatures"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="col box-price ms-4">
                <div class="d-flex flex-column bd-highlight">
                  <p class="text-start fs-5 fw-bold">Rp</p>
                  <h1 class="text-start fs-2 fw-bold">
                    190,000<small class="fs-6"
                      >/{{ "Month" | translate }}</small
                    >
                  </h1>
                  <small class="text-start f-12 text-muted"
                    ><i>{{ "Temp_Price" | translate }}</i></small
                  >
                </div>
              </div>
            </div>
            <div class="col subcription-desc border-radius-top">
              <div class="container">
                <div class="row">
                  <div class="mt-4 mb-4">
                    <div class="d-flex justify-content-start">
                      <div
                        class="bd-highlight box-list icon-info mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Employee" | translate }}(<b>5</b>)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        Rantailink(<b>500 {{ "Users" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-info mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        Slot Item(<b>500 + {{ "Variant" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-invalid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Ticket_Support" | translate }}
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-invalid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Integration_Bank" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4 zoom-subscription"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="img-subsciption">
            <div class="col border-radius-top sub subscribe-nonactive">
              <div class="d-flex justify-content-between">
                <div>
                  <h1 class="fs-6 p-2 mt-4 ms-4 fw-bold box-medal-others">
                    Gold
                  </h1>
                </div>
                <div>
                  <img
                    src="../../assets/img/plan-03.webp"
                    alt="image3"
                    class="card-img-top img-ourfeatures"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="col box-price ms-4">
                <div class="d-flex flex-column bd-highlight">
                  <p class="text-start fs-5 fw-bold">Rp</p>
                  <h1 class="text-start fs-2 fw-bold">
                    490,000<small class="fs-6"
                      >/{{ "Month" | translate }}</small
                    >
                  </h1>
                  <small class="text-start f-12 text-muted"
                    ><i>{{ "Temp_Price" | translate }}</i></small
                  >
                </div>
              </div>
            </div>
            <div class="col subcription-desc border-radius-top">
              <div class="container">
                <div class="row">
                  <div class="mt-4 mb-4">
                    <div class="d-flex justify-content-start">
                      <div
                        class="bd-highlight box-list icon-info mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Employee" | translate }}(<b>25</b>)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        Rantailink(<b>1000 {{ "Users" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        Slot Item(<b>2000 + {{ "Variant" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-info mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Ticket_Support" | translate }}(<b
                          >1 {{ "Support_Desc" | translate }} @6
                          {{ "Hours" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Integration_Bank" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4 zoom-subscription"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="img-subsciption">
            <div class="col border-radius-top sub subscribe-nonactive">
              <div class="d-flex justify-content-between">
                <div>
                  <h1 class="fs-6 p-2 mt-4 ms-4 fw-bold box-medal-others">
                    Titanium
                  </h1>
                </div>
                <div>
                  <img
                    src="../../assets/img/plan-02.webp"
                    alt="image3"
                    class="card-img-top img-ourfeatures"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="col box-price ms-4">
                <div class="d-flex flex-column bd-highlight">
                  <p class="text-start fs-5 fw-bold">Rp</p>
                  <h1 class="text-start fs-2 fw-bold">
                    890,000<small class="fs-6"
                      >/{{ "Month" | translate }}</small
                    >
                  </h1>
                  <small class="text-start f-12 text-muted"
                    ><i>{{ "Temp_Price" | translate }}</i></small
                  >
                </div>
              </div>
            </div>
            <div class="col subcription-desc border-radius-top">
              <div class="container">
                <div class="row">
                  <div class="mt-4 mb-4">
                    <div class="d-flex justify-content-start">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Employee" | translate }}(<b>100</b>)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        Rantailink(<b>2000 {{ "Users" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        Slot Item(<b>4000 + {{ "Variant" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Ticket_Support" | translate }}(<b
                          >2 {{ "Support_Desc" | translate }} @6
                          {{ "Hours" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Integration_Bank" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 p-4 zoom-subscription"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="img-subsciption">
            <div class="col border-radius-top sub subscribe-active">
              <div class="d-flex justify-content-between">
                <div>
                  <h1 class="box-medal-active fs-6 p-2 mt-4 ms-4 fw-bold">
                    Platinum
                  </h1>
                </div>
                <div>
                  <img
                    src="../../assets/img/plan-01.webp"
                    alt="image3"
                    class="card-img-top img-ourfeatures"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="col box-price ms-4">
                <div class="d-flex flex-column bd-highlight">
                  <p class="text-start fs-5 fw-bold">Rp</p>
                  <h1 class="text-start fs-2 fw-bold">
                    1,200,000<small class="fs-6"
                      >/{{ "Month" | translate }}</small
                    >
                  </h1>
                  <small class="text-start text-muted f-white"
                    ><i>{{ "Temp_Price" | translate }}</i></small
                  >
                </div>
              </div>
            </div>
            <div class="col subcription-desc border-radius-top">
              <div class="container">
                <div class="row">
                  <div class="mt-4 mb-4">
                    <div class="d-flex justify-content-start">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Employee" | translate }}(<b>Unlimited</b>)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        Rantailink(<b>3000 {{ "Users" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        Slot Item(<b>6000 + {{ "Variant" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Ticket_Support" | translate }}(<b
                          >3 {{ "Support_Desc" | translate }} @6
                          {{ "Hours" | translate }}</b
                        >)
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                      <div
                        class="bd-highlight box-list icon-valid mt-1 me-2"
                      ></div>
                      <div class="bd-highlight text-start">
                        {{ "Integration_Bank" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer id="footer">
  <div class="footer-top" style="overflow: hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight">
              <img
                src="../../assets/img/logo-biru.jpeg"
                alt="logo"
                width="60px"
                height="60px"
                class="img-fluid img-rounded"
                loading="lazy"
              />
            </div>
            <div class="bd-highlight ps-1 pt-3" data-aos="fade-left">
              <p class="h4 fw-bolder" style="margin-left: 10px">Rantai</p>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <p class="h5 pt-4 fw-bolder" data-aos="fade-right">Features</p>
          <p data-aos="zoom-in" class="pt-3" data-aos-delay="150">
            {{ "Desc_Features" | translate }}
          </p>
        </div>

        <div class="col-lg-3 col-md-6">
          <p class="h5 pt-4 fw-bolder" data-aos="fade-right">About</p>
          <p data-aos="zoom-in" class="pt-3" data-aos-delay="150">
            {{ "Desc_About" | translate }}
          </p>
        </div>

        <div class="col-lg-4 col-md-6">
          <p class="h5 pt-4 fw-bolder" data-aos="fade-right">Contact Us</p>
          <div>
            <a
              href="mailto:support@rantai.tech"
              class="d-flex flex-row bd-highlight justify-content-start align-items-center"
            >
              <img
                src="../../assets/images/email.svg"
                alt="email"
                class="img-fluid pe-3"
                width="46px"
                height="24px"
                loading="lazy"
              />
              <div
                class="bd-highlight pt-3 color-1"
                data-aos="fade-left"
                data-aos-delay="100"
              >
                <p>support@rantai.tech</p>
              </div>
            </a>
          </div>
          <div class="d-flex flex-row bd-highlight">
            <img
              src="../../assets/images/phone.svg"
              alt="phone"
              width="40px"
              height="61px"
              class="img-fluid pe-3"
              loading="lazy"
            />
            <div
              class="bd-highlight pt-4"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <p>+62 811-165-8855</p>
            </div>
          </div>

          <address>
            <a
              class="d-flex flex-row bd-highlight"
              target="_blank"
              href="https://www.google.com/maps/place/Cyberindo+Sinergi+Sistem/@-6.1909029,106.844157,15z/data=!4m5!3m4!1s0x0:0x72e1a1ba58194f32!8m2!3d-6.1909029!4d106.844157"
            >
              <img
                src="../../assets/images/location.svg"
                alt="location"
                class="img-fluid"
                width="18px"
                height="95px"
                loading="lazy"
              />
              <div class="bd-highlight pt-3">
                <p
                  class="ps-4 color-1"
                  style="text-align: left"
                  data-aos="fade-left"
                  data-aos-delay="300"
                >
                  Vinilon Building, Jl. Raden Saleh Raya No.kav 13-17,
                  RT.1/RW.2, Kenari, Kec. Senen, Kota Jakarta Pusat, Daerah
                  Khusus Ibukota Jakarta 10430.
                </p>
              </div>
            </a>
          </address>

          <div class="pt-2">
            <ul
              class="nav nav-pills d-flex justify-content-start align-items-start"
              style="gap: 15px"
            >
              <li class="nav-item" data-aos="fade-up" data-aos-delay="200">
                <a
                  href="https://www.instagram.com/official.rantai/"
                  class="nav-link"
                  target="_blank"
                  title="Instagram"
                >
                  <div class="d-flex align-items-center">
                    <div class="icon-sosial">
                      <img
                        src="../../assets/images/instagram.svg"
                        alt="ig"
                        width="22px"
                        class="img-fluid"
                        loading="lazy"
                      />
                    </div>
                    <div class="ps-2 sosial-text fs-6">official.rantai</div>
                  </div>
                </a>
              </li>

              <li class="nav-item" data-aos="fade-up" data-aos-delay="400">
                <a
                  href="https://www.facebook.com/RantaiOfficial"
                  target="_blank"
                  class="nav-link"
                  title="Facebook"
                >
                  <div class="d-flex align-items-center">
                    <div class="icon-sosial">
                      <img
                        src="../../assets/images/facebook.svg"
                        alt="fb"
                        width="12px"
                        class="img-fluid"
                        loading="lazy"
                      />
                    </div>
                    <div class="ps-2 sosial-text fs-6">rantai</div>
                  </div>
                </a>
              </li>
              <li class="nav-item" data-aos="fade-up" data-aos-delay="600">
                <a
                  href="https://www.linkedin.com/company/rantai-tech/"
                  target="_blank"
                  class="nav-link"
                  title="Linkedin"
                >
                  <div class="d-flex align-items-center">
                    <div class="icon-sosial">
                      <img
                        src="../../assets/images/linkedin.svg"
                        alt="fb"
                        width="20px"
                        class="img-fluid"
                        loading="lazy"
                      />
                    </div>
                    <div class="ps-2 sosial-text fs-6">rantai</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer d-flex align-items-center justify-content-center pt-3">
    <p class="text-center text-white p-3">
      &copy; {{ newDate }}&nbsp;PT Cyberindo Sinergi Sistem
    </p>
  </div>
</footer>
<div
  class="modal fade"
  id="requestFreeDemo"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content subscribe-active p-3">
      <div class="modal-header">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5 class="modal-title fw-bold" id="exampleModalLabel">
                {{ "Join_Now" | translate }} <br />
                {{ "Join_Next" | translate }}
              </h5>
            </div>
            <div
              #myModalClose
              class="close-form"
              data-bs-dismiss="modal"
              aria-label="Close"
              title="Close"
            ></div>
          </div>
        </div>
      </div>
      <form
        (ngSubmit)="submit($event)"
        novalidate
        method="dialog"
        [formGroup]="formDaftar"
        autocomplete="off"
      >
        <div class="modal-body">
          <h1 class="fs-6 fw-normal">
            {{ "Desc" | translate }}
          </h1>
          <br />
          <!-- <div class="container"> -->
          <div class="row">
            <div class="col-sm">
              <div class="mb-3">
                <input
                  type="text"
                  formControlName="name"
                  name="Name"
                  class="form-control input-radius"
                  placeholder="{{ 'Full_Name' | translate }}"
                />
              </div>
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control input-radius"
                  name="Email"
                  formControlName="email"
                  placeholder="Email"
                />
              </div>
              <div class="mb-3">
                <input
                  type="number"
                  class="form-control input-radius"
                  name="Phone"
                  formControlName="phone"
                  placeholder="{{ 'Phone' | translate }}"
                />
              </div>
            </div>
            <div class="col-sm">
              <div class="mb-3">
                <select
                  id="business"
                  formControlName="business"
                  class="form-select input-radius"
                  name="Notes"
                >
                  <option value="" selected>
                    {{ "Business" | translate }}
                  </option>
                  <option *ngFor="let b of businessType" [value]="b">
                    {{ b | titlecase }}
                  </option>
                </select>
              </div>
              <div
                class="mb-3"
                *ngIf="
                  formDaftar.get('business').value === ('Other' | translate)
                "
              >
                <input
                  type="text"
                  [(ngModel)]="othersBusinness"
                  class="form-control input-radius"
                  placeholder="{{ 'Business' | translate }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="mb-3">
                <select
                  formControlName="province"
                  class="form-select input-radius"
                  required
                  (change)="triggerCity($event)"
                >
                  <option value="" selected>
                    {{ "Province" | translate }}
                  </option>
                  <option *ngFor="let p of province" [value]="p.name">
                    {{ p.name | titlecase }}
                  </option>
                </select>
              </div>

              <div class="mb-3">
                <select formControlName="city" class="form-select input-radius">
                  <option value="" selected>
                    {{ "City_Regency" | translate }}
                  </option>
                  <option *ngFor="let c of city" [value]="c.name">
                    {{ c.name | titlecase }}
                  </option>
                  <option value="{{ 'Other' | translate }}">
                    {{ "Other" | translate }}
                  </option>
                </select>
              </div>
              <div
                class="mb-3"
                *ngIf="formDaftar.get('city').value === ('Other' | translate)"
              >
                <input
                  type="text"
                  [(ngModel)]="othersCity"
                  class="form-control input-radius"
                  placeholder="{{ 'City' | translate }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
          </div>
          <!-- </div> -->
          <!-- HIDDEN FOR JALA -->
          <input type="hidden" name="Address" formControlName="address" />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger fw-bolder"
            data-bs-dismiss="modal"
          >
            {{ "Cancel" | translate | uppercase }}
          </button>
          <button type="submit" class="btn btn-primary fw-bolder">
            {{ "Submit" | uppercase }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
