<div class="container">
    <div class="row justify-content-center gap-3">
        <div>
            <div class="title-first">Welcome to Rantai Help Center,</div>
            <div class="title-first">How can we help you?</div>
            <div class="content-footer-faq">Check all topics below to get answer for your questions</div>
        </div>
        
        <!-- <div class="row justify-content-center mt-4">
            <div class="img-help-center"></div>
        </div> -->
        <div class="d-flex justify-content-center">
            <div class="img-sidebar"></div>
            <div class="row justify-content-start mt-4">
                <div>
                    <div>
                        <div class="title mb-2">Forgot Password</div>
                        <div class="title">1. Klik <span class="forgot-password">Forgot Password</span> pada halaman Log In dashboard web Rantai.</div>        
                        <div class="img-sign-in"></div>
                        <div class="row justify-content-center img-name">Gambar halaman log in dashboard web Rantai</div>
                    </div>
                    <div class="mt-3">
                        <div class="title">2. Masukkan nomor telepon Anda yang dipakai pada saat melakukan pendaftaran akun Rantai.</div>
                        <div class="img-forgot-password"></div>
                        <div class="row justify-content-center img-name">Gambar Halaman forgot password</div>
                    </div> <div></div>
                    <div class="mt-3">
                        <div class="title">3. Masukkan kode verifikasi yang dikirimkan ke nomor telepon Anda, dan buatlah password yang baru.</div>
                        <div class="verify-code-password"></div>
                        <div class="row justify-content-center img-name">Gambar Halaman forgot password</div>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="row justify-content-start mt-5">
            <p class="title-footer-faq" data-aos="fade-right">
                {{ "Still_have" | translate }}
            </p>
            <p class="title-silver" >
                {{ "Haven't_found" | translate }}<br>{{ "is_always" | translate }}
            </p>
        </div>
        <div class="d-flex justify-content-center" data-aos="fade-right">       
            <a href="#contact"> 
                <button class="btn-faq">{{ "CONTACT_US" | translate }}</button>
            </a>
        </div>
    </div>
</div>
