/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
a {
  color: #5846f9;
  text-decoration: none;
}
a:hover {
  color: #8577fb;
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}

/* * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */
body { 
  margin: 0;
 }
html, body { 
  height: 100%; 
}
body { 
  margin: 0;
 }

