/* You can add global styles to this file, and also import other style files */
@import url("assets/gotham/Gotham.css");

body {
  font-family: "gotham", "sans-serif";
  /* color: #444444; */
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #5846f9;
  text-decoration: none;
}

a:hover {
  color: #8577fb;
  text-decoration: none;
}

.pointer{
  cursor: pointer;
}


/* * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */
